Repository atopile/atopile: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-library-init, ty

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: generate-library-init
        name: Generate library init
        entry: tools/library/gen_F.py
        language: python
        files: src/faebryk/library/.*.py
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.12.0
    hooks:
      - id: ruff-check
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.7.13
    hooks:
      - id: uv-lock
  - repo: local
    hooks:
      - id: ty
        name: ty type checker
        entry: uv run ty check src
        language: system
        types: [python]
        pass_filenames: false

update event
  .github/workflows/extract-claude.yml
Due: none

fix email
  .github/workflows/extract-claude.yml
Due: none

opther gpgp
  .github/workflows/extract-claude.yml
Due: none

fix keyt
  .github/workflows/extract-claude.yml
Due: none

merge
  src/faebryk/core/zig/__init__.py
  src/faebryk/core/zig/__init__.pyi
  src/faebryk/core/zig/build.zig
  src/faebryk/core/zig/experiment/build.zig
  src/faebryk/core/zig/experiment/build.zig.zon
  src/faebryk/core/zig/src/pyzig/gen_pyi.zig
  src/faebryk/core/zig/src/pyzig/main.zig
  src/faebryk/core/zig/src/pyzig/pybindings.zig
  src/faebryk/core/zig/src/pyzig/python_ext.zig
  src/faebryk/core/zig/src/pyzig/pyzig.zig
  src/faebryk/core/zig/src/pyzig/root.zig
  src/faebryk/core/zig/test/pyzig/test_pyzig.py
Due: ty

split cmakes
  pyproject.toml
  src/faebryk/core/CMakeLists.txt
  src/faebryk/core/zig/CMakeLists.txt
Due: none

check for imports in .ato/modules
  src/atopile/cli/package.py
Due: ty

only run steps when dependencies have succeeded
  src/atopile/build_steps.py
  src/atopile/buildutil.py
Due: ty

recognize failures in output
  src/atopile/buildutil.py
Due: ty

cleanup
  src/atopile/config.py
Due: ty

formatting
  src/atopile/cli/package.py
Due: ty

for target in select()
  src/atopile/buildutil.py
Due: ty

update tests
  test/test_muster.py
Due: ty

gen pyi
  src/faebryk/core/zig/__init__.pyi
  src/faebryk/core/zig/build.zig
  src/faebryk/core/zig/src/pyzig/demo/root.zig
  src/faebryk/core/zig/src/pyzig/demo/root_py.zig
  src/faebryk/core/zig/src/pyzig/demo/root_pyi.zig
  src/faebryk/core/zig/src/pyzig/gen_pyi.zig
  src/faebryk/core/zig/src/pyzig/lib.zig
  src/faebryk/core/zig/src/pyzig/main.zig
  src/faebryk/core/zig/src/pyzig/pybindings.zig
  src/faebryk/core/zig/src/pyzig/pyi.zig
  src/faebryk/core/zig/src/pyzig/pyzig.zig
  src/faebryk/core/zig/src/sexp/kicad/pcb.pyi
  src/faebryk/core/zig/src/sexp/kicad/pcb.zig
  src/faebryk/core/zig/src/sexp/pyi.zig
  src/faebryk/core/zig/src/sexp/structure.zig
Due: none

LSP: Fix 'go to definition' (mvp) (#1480)
  src/atopile/front_end.py
  src/atopile/lsp/lsp_server.py
  test/test_lsp_completion.py
Due: ty

easyeda2kicad>=0.9.7
  pyproject.toml
  uv.lock
Due: none

CLI: Fix build generates a bunch of build dirs for dependencies (#1484)
  src/atopile/config.py
Due: ty

upgrade pr review action to v1
  .github/workflows/claude-code-review.yml
Due: none

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

update prompt and tools to match latest default
  .github/workflows/claude-code-review.yml
Due: none

enable progress tracking
  .github/workflows/claude-code-review.yml
Due: none

upgrade general workflow
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

remove pr review trigger on pr review submission
  .github/workflows/claude-code-review.yml
Due: none

CI: Fix Claude failures on PR review submission (#1486)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

check imports against deps from config
  src/atopile/cli/package.py
Due: ty

allow package-local fq imports
  src/atopile/cli/package.py
Due: ty

unskip datasheet load (unrelated change)
  src/faebryk/libs/picker/lcsc.py
Due: ty

Buildutil: Fix build step failure handling (#1485)
  src/atopile/build_steps.py
  src/atopile/buildutil.py
  test/test_muster.py
Due: ty

uv lock
  uv.lock
Due: none

Libs: Switch to system cert store (#1462)
  pyproject.toml
  src/atopile/cli/logging_.py
  src/atopile/config.py
  src/atopile/version.py
  src/faebryk/exporters/documentation/datasheets.py
  src/faebryk/libs/backend/packages/api.py
  src/faebryk/libs/http.py
  src/faebryk/libs/picker/api/api.py
  src/faebryk/libs/picker/api/picker_lib.py
  src/faebryk/libs/picker/lcsc.py
  uv.lock
Due: ty

manual examples
  build_examples.py
  scripts/update_usage_examples.py
  src/faebryk/library/BJT.py
  src/faebryk/library/Electrical.py
  src/faebryk/library/LEDIndicator.py
  src/faebryk/library/Pad.py
  src/faebryk/library/Resistor.py
  src/faebryk/library/TestPoint.py
Due: generate-library-init, ty

Consolidate duplicate _load_footprint_with_fallback implementations
  src/faebryk/libs/ato_part.py
  src/faebryk/libs/part_lifecycle.py
  src/faebryk/libs/util.py
  test/libs/codegen/test_atocodegen.py
Due: ty

Move load_footprint_with_fallback from util.py back to ato_part.py
  src/faebryk/libs/ato_part.py
  src/faebryk/libs/part_lifecycle.py
  src/faebryk/libs/util.py
  test/libs/codegen/test_atocodegen.py
Due: ty

Fix ruff formatting issues
  src/faebryk/libs/ato_part.py
  src/faebryk/libs/util.py
Due: ty

CLI: Add package verify command (#1460)
  src/atopile/cli/package.py
  src/atopile/mcp/tools/cli.py
Due: ty

Add debugging assertions to test CI import issue
  test/libs/codegen/test_atocodegen.py
Due: ty

Fix CI import issue for load_footprint_with_fallback function
  src/faebryk/libs/ato_part.py
  test/libs/codegen/test_atocodegen.py
Due: ty
