Repository atopile/atopile: changes, and which pre-commit hooks are due for each by the changed paths.
All: ban-title-case-atopile, generate-library-init

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ban-title-case-atopile
        name: ban-title-case-atopile
        entry: '\bAtopile\b'
        language: pygrep
        types: [text]
        exclude: >-
          (?x)^(
            \.pre-commit-config\.yaml|
            test/runner/report\.html|
            src/ui-server/src/types/schema\.json|
            src/ui-server/src/types/generated\.ts|
            src/ui-server/src/types/gen/schema\.json|
            src/ui-server/src/types/gen/generated\.ts
          )$
      - id: generate-library-init
        name: Generate library init
        entry: tools/library/gen_F.py
        language: python
        files: src/faebryk/library/.*.py
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.14
    hooks:
      - id: ruff
        # generated by ANTLR4
        exclude: src/atopile/compiler/parser/.*.py
      - id: ruff-format
        # generated by ANTLR4
        exclude: src/atopile/compiler/parser/.*.py
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.28
    hooks:
      - id: uv-lock

set from info to warning
  src/atopile/logging.py
Due: ban-title-case-atopile

Fix has_net_name_suggestion usage example to use correct trait syntax
  src/faebryk/library/has_net_name_suggestion.py
Due: ban-title-case-atopile, generate-library-init

Add usage example to has_net_name_affix trait
  src/faebryk/library/has_net_name_affix.py
Due: ban-title-case-atopile, generate-library-init

fix layout editor webview alignment and action handling
  src/atopile/layout_server/frontend/package-lock.json
  src/atopile/layout_server/frontend/package.json
  src/atopile/layout_server/frontend/src/editor.ts
  src/atopile/layout_server/frontend/src/layout_client.ts
  src/atopile/layout_server/frontend/src/text_overlay.ts
  src/vscode-atopile/src/ui/layout-editor.ts
Due: ban-title-case-atopile

downgrade infos to debugs during build
  src/atopile/build_steps.py
  src/atopile/buildutil.py
  src/atopile/cli/build.py
  src/atopile/compiler/ast_visitor.py
  src/atopile/logging.py
  src/faebryk/exporters/bom/jlcpcb.py
  src/faebryk/exporters/bom/json_bom.py
  src/faebryk/exporters/documentation/datasheets.py
  src/faebryk/exporters/documentation/i2c.py
  src/faebryk/exporters/parameters/json_parameters.py
  src/faebryk/exporters/parameters/parameters_to_file.py
  src/faebryk/exporters/pcb/kicad/artifacts.py
  src/faebryk/exporters/pcb/kicad/transformer.py
  src/faebryk/exporters/pcb/pick_and_place/jlcpcb.py
  src/faebryk/exporters/power_tree/power_tree.py
  src/faebryk/libs/picker/picker.py
Due: ban-title-case-atopile

fabll: Fix net name trait usage examples (#1760)
  src/faebryk/library/has_net_name_affix.py
  src/faebryk/library/has_net_name_suggestion.py
Due: ban-title-case-atopile, generate-library-init

UI: Fast layout viewer (#1758)
  src/atopile/layout_server/__main__.py
  src/atopile/layout_server/frontend/package-lock.json
  src/atopile/layout_server/frontend/package.json
  src/atopile/layout_server/frontend/src/editor.ts
  src/atopile/layout_server/frontend/src/hit-test.ts
  src/atopile/layout_server/frontend/src/layout_client.ts
  src/atopile/layout_server/frontend/src/main.ts
  src/atopile/layout_server/frontend/src/math.ts
  src/atopile/layout_server/frontend/src/pad_annotations.ts
  src/atopile/layout_server/frontend/src/painter.ts
  src/atopile/layout_server/frontend/src/spatial_index.ts
  src/atopile/layout_server/frontend/src/text_overlay.ts
  src/atopile/layout_server/frontend/src/types.ts
  src/atopile/layout_server/frontend/src/webgl/renderer.ts
  src/atopile/layout_server/frontend/src/webgl/shaders.ts
  src/atopile/layout_server/models.py
  src/atopile/layout_server/pcb_manager.py
  src/atopile/layout_server/server.py
  src/atopile/layout_server/static/layout-editor.hbs
  src/atopile/server/domains/layout.py
  src/vscode-atopile/src/ui/layout-editor.ts
  test/layout_server/frontend_drag_closed_loop.mjs
  test/layout_server/test_frontend_drag_closed_loop.py
  test/layout_server/test_pcb_manager.py
  test/layout_server/test_server.py
Due: ban-title-case-atopile

Parallelize datasheet downloads with ThreadPoolExecutor
  src/faebryk/exporters/documentation/datasheets.py
Due: ban-title-case-atopile

duplicate names
  src/faebryk/exporters/documentation/datasheets.py
Due: ban-title-case-atopile

mixed estimation wip
  src/faebryk/core/solver/solver.py
  src/faebryk/core/solver/symbolic/structural.py
  test/core/solver/test_solver.py
Due: ban-title-case-atopile

vdiv equations sop form
  src/faebryk/library/ResistorVoltageDivider.py
Due: ban-title-case-atopile, generate-library-init

web-ide: use mainline layout editor webview template
  src/vscode-atopile/src/ui/layout-editor.ts
Due: ban-title-case-atopile

web-ide: route layout viewer through webview bridge proxy
  src/atopile/layout_server/static/layout-editor.hbs
  src/vscode-atopile/src/ui/layout-editor.ts
Due: ban-title-case-atopile

Speed: Parallelize datasheet downloads with ThreadPoolExecutor (#1761)
  src/faebryk/exporters/documentation/datasheets.py
Due: ban-title-case-atopile

fix: add autolayout skip guards and fix orchestrator test imports
  test/server/agent/test_agent_tools_hashline.py
  test/server/agent/test_orchestrator_output.py
Due: ban-title-case-atopile

Fix CI build: resolve earcut from ui-server node_modules
  src/ui-server/vite.config.ts
Due: ban-title-case-atopile

cleanup code
  src/atopile/layout_server/frontend/src/editor.ts
  src/atopile/layout_server/server.py
  src/atopile/server/domains/actions.py
  src/ui-server/src/components/interactive-bom/InteractiveBomApp.tsx
  src/ui-server/src/components/interactive-bom/LayoutViewerWrapper.tsx
  src/ui-server/src/components/interactive-bom/interactive-bom.css
  src/vscode-atopile/package-lock.json
  src/vscode-atopile/src/ui/interactive-bom.ts
Due: ban-title-case-atopile

Fix layout editor TS errors after merge from main
  src/atopile/layout_server/frontend/src/editor.ts
  src/atopile/layout_server/frontend/src/painter.ts
Due: ban-title-case-atopile

Fix pad text overlay misalignment in container mode
  src/atopile/layout_server/frontend/src/editor.ts
Due: ban-title-case-atopile

fix broken imports and type graph for library tool. fixes #1734
  src/atopile/mcp/tools/library.py
Due: ban-title-case-atopile

LSP: Fix AttributeError for non-source-located exceptions in diagnostics
  src/atopile/lsp/lsp_server.py
Due: ban-title-case-atopile

LSP: Show deprecation warnings at correct source location
  src/atopile/compiler/antlr_visitor.py
  src/atopile/compiler/ast_visitor.py
  src/atopile/compiler/build.py
  src/atopile/errors.py
  src/atopile/lsp/lsp_server.py
Due: ban-title-case-atopile

refactor: move spec viewer to feature/requirements branch
  src/atopile/server/routes/specs.py
  src/atopile/server/server.py
  src/ui-server/package.json
  src/ui-server/spec-viewer.html
  src/ui-server/src/components/SpecViewer.tsx
  src/ui-server/src/specViewer.tsx
  src/ui-server/vite.config.ts
  src/vscode-atopile/src/ui/spec-viewer.ts
  src/vscode-atopile/src/ui/ui.ts
Due: ban-title-case-atopile

fix: don't crash server on WebSocket disconnect
  src/atopile/server/server.py
Due: ban-title-case-atopile

fix: remove spec viewer button from sidebar UI
  src/atopile/server/agent/provider.py
  src/ui-server/src/components/Sidebar.tsx
  src/vscode-atopile/src/providers/SidebarProvider.ts
Due: ban-title-case-atopile

fix: add has_requirement to stdlib allowlist
  src/atopile/compiler/ast_visitor.py
Due: ban-title-case-atopile

feat: auto-expand chat input textarea as you type
  src/ui-server/src/components/AgentChatPanel.css
  src/ui-server/src/components/AgentChatPanel.tsx
Due: ban-title-case-atopile

docs: add local package creation recipe to ato skill
  .claude/skills/ato/SKILL.md
Due: ban-title-case-atopile

fix: correct local package example in ato skill to match real patterns
  .claude/skills/ato/SKILL.md
Due: ban-title-case-atopile

Layout: fix garbled silkscreen text in 2D viewer
  src/atopile/layout_server/frontend/src/painter.ts
  src/atopile/layout_server/frontend/src/text_overlay.ts
Due: ban-title-case-atopile

more mixed estimation
  src/faebryk/core/solver/symbolic/structural.py
  src/faebryk/library/ResistorVoltageDivider.py
  src/faebryk/libs/picker/api/models.py
Due: ban-title-case-atopile, generate-library-init

Remove comments for API and user literal behavior
  src/faebryk/library/has_simple_value_representation.py
Due: ban-title-case-atopile, generate-library-init

Layout: fix double render of silkscreen text from text_overlay (#1765)
  src/atopile/layout_server/frontend/src/painter.ts
  src/atopile/layout_server/frontend/src/text_overlay.ts
Due: ban-title-case-atopile

MCP: Fix broken imports and type graph for library tool (#1763)
  src/atopile/mcp/tools/library.py
Due: ban-title-case-atopile

timeline view
  test/runner/common.py
  test/runner/report.html
  test/runner/report.py
Due: ban-title-case-atopile

Libs: Fix pretty_str() displaying 0F for small capacitor values (#1748)
  src/faebryk/library/Literals.py
  src/faebryk/library/Parameters.py
  src/faebryk/library/has_simple_value_representation.py
Due: ban-title-case-atopile, generate-library-init

color modes
  test/runner/report.html
Due: none

UI: Add snap to grid for layout edditor
  src/atopile/layout_server/frontend/src/editor.ts
  src/atopile/layout_server/frontend/src/main.ts
  src/atopile/layout_server/static/layout-editor.hbs
Due: ban-title-case-atopile
