Repository atopile/atopile: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-library-init, ty

generate-library-init:
  name: Generate library init
  entry: tools/library/gen_F.py
  language: python

ty:
  name: ty type checker
  entry: uv run ty check src
  language: system
  pass_filenames: false

preserve pcb hide
  src/faebryk/exporters/pcb/kicad/transformer.py
Due: ty

mutable lists wip
  src/faebryk/core/zig/src/pyzig/mutable_list.zig
  src/faebryk/core/zig/src/pyzig/pybindings.zig
  src/faebryk/core/zig/src/pyzig/pyzig.zig
Due: none

copy before convert
  src/faebryk/core/zig/TODO.md
  src/faebryk/libs/kicad/fileformats.py
Due: ty

mutable list support cont.
  src/faebryk/core/zig/src/pyzig/lib.zig
  src/faebryk/core/zig/src/pyzig/mutable_list.zig
  src/faebryk/core/zig/src/pyzig/pybindings.zig
  src/faebryk/core/zig/src/pyzig/pyzig.zig
Due: none

arraylist enc/dec
  src/faebryk/core/zig/src/sexp/kicad/fp_lib_table.zig
  src/faebryk/core/zig/src/sexp/structure.zig
Due: none

update kicad methods for mutable lists
  src/faebryk/libs/kicad/fileformats.py
Due: ty

fix arc order
  src/faebryk/core/zig/TODO.md
  src/faebryk/core/zig/footprint_v5.pyi
  src/faebryk/core/zig/src/sexp/kicad/v5/footprint.zig
Due: none

Library: Remove unsupported modules, traits, and interfaces (#1488)
  src/faebryk/library/Common_Mode_Filter.py
  src/faebryk/library/EEPROM.py
  src/faebryk/library/ElectricLogicGate.py
  src/faebryk/library/ElectricLogicGates.py
  src/faebryk/library/Fan.py
  src/faebryk/library/GDT.py
  src/faebryk/library/GenericBusProtection.py
  src/faebryk/library/LEDIndicator.py
  src/faebryk/library/LogicGate.py
  src/faebryk/library/LogicGates.py
  src/faebryk/library/LogicOps.py
  src/faebryk/library/NFET.py
  src/faebryk/library/PFET.py
  src/faebryk/library/Potentiometer.py
  src/faebryk/library/PowerMux.py
  src/faebryk/library/PowerSwitch.py
  src/faebryk/library/PowerSwitchMOSFET.py
  src/faebryk/library/PowerSwitchStatic.py
  src/faebryk/library/RS485HalfDuplex.py
  src/faebryk/library/Relay.py
  src/faebryk/library/Resistor_Voltage_Divider.py
  src/faebryk/library/Sercom.py
  src/faebryk/library/_F.py
  src/faebryk/library/mosfets.ato
  test/core/solver/test_solver.py
  test/test_lsp_completion.py
Due: generate-library-init, ty

add mut list test
  test/libs/kicad/test_fileformats.py
Due: ty

layout tidy
  examples/led_badge/layouts/badge/badge.kicad_pcb
Due: none

disable building tests/perf
  src/faebryk/core/zig/build.zig
Due: none

update fileformats
  src/faebryk/core/zig/src/sexp/kicad/footprint.zig
  src/faebryk/core/zig/src/sexp/kicad/netlist.zig
  src/faebryk/core/zig/src/sexp/kicad/pcb.zig
  src/faebryk/core/zig/src/sexp/kicad/schematic.zig
  src/faebryk/core/zig/src/sexp/kicad/symbol.zig
  src/faebryk/core/zig/src/sexp/kicad/v5/footprint.zig
  src/faebryk/core/zig/src/sexp/kicad/v6/symbol.zig
Due: none

fix compile issues wip
  src/faebryk/core/zig/src/pyzig/mutable_list.zig
  src/faebryk/core/zig/src/pyzig/pyzig.zig
  src/faebryk/core/zig/src/sexp/structure.zig
Due: none

Library: Fix: add back RS485 half duplex
  src/faebryk/library/RS485HalfDuplex.py
  src/faebryk/library/_F.py
Due: generate-library-init, ty

Add net name suffix; Add single reference
  src/faebryk/library/RS485HalfDuplex.py
Due: generate-library-init, ty

linkedlist
  src/faebryk/core/zig/README.md
  src/faebryk/core/zig/src/pyzig/lib.zig
  src/faebryk/core/zig/src/pyzig/linked_list.zig
  src/faebryk/core/zig/src/pyzig/mutable_list.zig
  src/faebryk/core/zig/src/pyzig/pyi.zig
  src/faebryk/core/zig/src/pyzig/pyzig.zig
  src/faebryk/core/zig/src/sexp/kicad/footprint.zig
  src/faebryk/core/zig/src/sexp/kicad/fp_lib_table.zig
  src/faebryk/core/zig/src/sexp/kicad/netlist.zig
  src/faebryk/core/zig/src/sexp/kicad/pcb.zig
  src/faebryk/core/zig/src/sexp/kicad/schematic.zig
  src/faebryk/core/zig/src/sexp/kicad/symbol.zig
  src/faebryk/core/zig/src/sexp/kicad/v5/footprint.zig
  src/faebryk/core/zig/src/sexp/kicad/v6/symbol.zig
  src/faebryk/core/zig/src/sexp/structure.zig
  src/faebryk/core/zig/symbol.pyi
  src/faebryk/exporters/pcb/kicad/transformer.py
  src/faebryk/exporters/pcb/layout/layout_sync.py
  src/faebryk/libs/kicad/fileformats.py
  test/libs/kicad/test_fileformats.py
Due: ty

linkedlist tests pass
  src/faebryk/core/zig/TODO.md
  src/faebryk/core/zig/src/sexp/py.zig
  src/faebryk/core/zig/src/sexp/structure.zig
  src/faebryk/libs/util.py
  test/core/solver/test_solver.py
Due: ty

examples
  examples/esp32_minimal/layouts/esp32_minimal/esp32_minimal.kicad_pcb
  examples/esp32_minimal/parts/Samsung_Electro_Mechanics_CL05A105KA5NQNC/C0402.kicad_mod
  examples/esp32_minimal/parts/Samsung_Electro_Mechanics_CL05A105KA5NQNC/CL05A105KA5NQNC.kicad_sym
  examples/esp32_minimal/parts/Samsung_Electro_Mechanics_CL05A105KA5NQNC/Samsung_Electro_Mechanics_CL05A105KA5NQNC.ato
  examples/esp32_minimal/parts/Samsung_Electro_Mechanics_CL05B104KO5NNNC/C0402.kicad_mod
  examples/esp32_minimal/parts/Samsung_Electro_Mechanics_CL05B104KO5NNNC/CL05B104KO5NNNC.kicad_sym
  examples/esp32_minimal/parts/Samsung_Electro_Mechanics_CL05B104KO5NNNC/Samsung_Electro_Mechanics_CL05B104KO5NNNC.ato
  examples/esp32_minimal/parts/Samsung_Electro_Mechanics_CL21A226MQQNNNE/C0805.kicad_mod
  examples/esp32_minimal/parts/Samsung_Electro_Mechanics_CL21A226MQQNNNE/CL21A226MQQNNNE.kicad_sym
  examples/esp32_minimal/parts/Samsung_Electro_Mechanics_CL21A226MQQNNNE/Samsung_Electro_Mechanics_CL21A226MQQNNNE.ato
  examples/esp32_minimal/parts/UNI_ROYAL_0402WGF1000TCE/0402WGF1000TCE.kicad_sym
  examples/esp32_minimal/parts/UNI_ROYAL_0402WGF1000TCE/R0402.kicad_mod
  examples/esp32_minimal/parts/UNI_ROYAL_0402WGF1000TCE/UNI_ROYAL_0402WGF1000TCE.ato
  examples/esp32_minimal/parts/UNI_ROYAL_0402WGF1002TCE/0402WGF1002TCE.kicad_sym
  examples/esp32_minimal/parts/UNI_ROYAL_0402WGF1002TCE/R0402.kicad_mod
  examples/esp32_minimal/parts/UNI_ROYAL_0402WGF1002TCE/UNI_ROYAL_0402WGF1002TCE.ato
  examples/esp32_minimal/parts/UNI_ROYAL_0402WGF4702TCE/0402WGF4702TCE.kicad_sym
  examples/esp32_minimal/parts/UNI_ROYAL_0402WGF4702TCE/R0402.kicad_mod
  examples/esp32_minimal/parts/UNI_ROYAL_0402WGF4702TCE/UNI_ROYAL_0402WGF4702TCE.ato
  examples/esp32_minimal/parts/UNI_ROYAL_0402WGF5101TCE/R0402.kicad_mod
  examples/esp32_minimal/parts/UNI_ROYAL_0402WGF5101TCE/UNI_ROYAL_0402WGF5101TCE.ato
  examples/i2c/parts/Texas_Instruments_TCA9548APWR/TCA9548APWR.kicad_sym
  examples/i2c/parts/Texas_Instruments_TCA9548APWR/TSSOP-24_L7.8-W4.4-P0.65-LS6.4-BL.kicad_mod
  examples/i2c/parts/Texas_Instruments_TCA9548APWR/Texas_Instruments_TCA9548APWR.ato
  examples/i2c/parts/UNI_ROYAL_0402WGF1002TCE/0402WGF1002TCE.kicad_sym
  examples/i2c/parts/UNI_ROYAL_0402WGF1002TCE/UNI_ROYAL_0402WGF1002TCE.ato
  examples/quickstart/parts/UNI_ROYAL_0603WAF1000T5E/0603WAF1000T5E.kicad_sym
  examples/quickstart/parts/UNI_ROYAL_0603WAF1000T5E/R0603.STEP
  examples/quickstart/parts/UNI_ROYAL_0603WAF1000T5E/R0603.kicad_mod
  examples/quickstart/parts/UNI_ROYAL_0603WAF1000T5E/UNI_ROYAL_0603WAF1000T5E.ato
Due: none

fix layout reuse memory bug
  src/faebryk/exporters/pcb/layout/layout_sync.py
Due: ty

memfault
  src/faebryk/core/zig/src/pyzig/linked_list.zig
Due: none

disable ci kicad plugin install
  src/atopile/cli/configure.py
  src/faebryk/core/zig/TODO.md
Due: ty

playing in the sand
  sandbox.py
  src/faebryk/library/Resistor.py
Due: generate-library-init, ty

fix ident obj
  src/faebryk/exporters/pcb/kicad/transformer.py
Due: ty

visualization working, make child working
  pyproject.toml
  sandbox.py
Due: ty

update dependency dag
  src/atopile/build_steps.py
Due: ty

default <- checks
  src/atopile/build_steps.py
Due: ty

skip DRCs in failing examples
  examples/equations/ato.yaml
  examples/i2c/ato.yaml
  examples/layout_reuse/ato.yaml
  examples/pick_parts/ato.yaml
Due: none

refactor 1
  src/faebryk/core/zig/build.zig
  src/faebryk/core/zig/src/pyzig/pyzig.zig
  src/faebryk/core/zig/src/sexp/structure.zig
  src/faebryk/core/zig/test/sexp/performance/performance_sexp.py
  src/faebryk/core/zig/test/sexp/performance/performance_sexp.zig
  src/faebryk/core/zig/test/sexp/test_ast.zig
  src/faebryk/core/zig/test/sexp/test_ast_2.zig
  src/faebryk/core/zig/test/sexp/test_create.py
  src/faebryk/core/zig/test/sexp/test_effects_value.zig
  src/faebryk/core/zig/test/sexp/test_fp_lib.py
  src/faebryk/core/zig/test/sexp/test_kicad.zig
  src/faebryk/core/zig/test/sexp/test_layer_parsing.zig
  src/faebryk/core/zig/test/sexp/test_load_pcb.py
  src/faebryk/core/zig/test/sexp/test_location.zig
  src/faebryk/core/zig/test/sexp/test_mod.py
  src/faebryk/core/zig/test/sexp/test_pcb copy.py
  src/faebryk/core/zig/test/sexp/test_pcb.py
  src/faebryk/core/zig/test/sexp/test_positional_debug.zig
  src/faebryk/core/zig/test/sexp/test_sch.py
  src/faebryk/core/zig/test/sexp/test_struct_parsing.zig
  src/faebryk/core/zig/test/sexp/test_structure.zig
  src/faebryk/core/zig/test/sexp/test_textlayer.zig
  src/faebryk/core/zig/test/sexp/test_tokenizer.zig
  src/faebryk/core/zig/test/sexp/test_v6_sym.py
  src/faebryk/core/zig/test/sexp/test_xyz.zig
Due: ty

check valid excluded targets
  src/atopile/build_steps.py
  src/atopile/buildutil.py
Due: ty

refactor 2
  src/faebryk/core/zig/src/pyzig/lib.zig
  src/faebryk/core/zig/src/pyzig/pyzig.zig
  src/faebryk/core/zig/src/pyzig/util.zig
Due: none

planning
  IMPLEMENTATION.md
  PLAN.md
Due: none

WIP
  examples/i2c/config_traits.py
  examples/i2c/matplotlib_graph_ui.py
Due: ty

impl
  pyproject.toml
  src/atopile/telemetry.py
  test/conftest.py
  test/test_telemetry_client.py
  uv.lock
Due: ty

fix test
  test/test_telemetry.py
Due: ty

remove mock client
  IMPLEMENTATION.md
  PLAN.md
  src/atopile/telemetry.py
  test/test_telemetry.py
Due: ty

add pointers
  sandbox.py
Due: ty

connect working
  sandbox.py
Due: ty

checks -> check-design
  src/atopile/build_steps.py
Due: ty

Path conditions:
  generate-library-init: any of: src/faebryk/library/.*.py
  ty: any of: \.py$
