Repository atopile/atopile: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-library-init, ty

generate-library-init:
  name: Generate library init
  entry: tools/library/gen_F.py
  language: python

ty:
  name: ty type checker
  entry: uv run ty check src
  language: system
  pass_filenames: false

Replace parsing fix with input sanitization for footprint names
  src/faebryk/libs/ato_part.py
  src/faebryk/libs/codegen/atocodeparse.py
  test/libs/codegen/test_atocodegen.py
Due: ty

update names add TODOs for deprecated parameters
  src/faebryk/library/components/BJT.py
  src/faebryk/library/components/Battery.py
  src/faebryk/library/components/Capacitor.py
  src/faebryk/library/components/CapacitorElectrolytic.py
  src/faebryk/library/components/Comparator.py
  src/faebryk/library/components/Crystal.py
  src/faebryk/library/components/Resistor.py
Due: generate-library-init, ty

add has_usage_example
  src/faebryk/library/_F.py
  src/faebryk/library/has_usage_example.py
  src/faebryk/library/traits/has_usage_example.py
Due: generate-library-init, ty

deprecated old parameters
  src/faebryk/library/components/BJT.py
  src/faebryk/library/components/Battery.py
  src/faebryk/library/components/Capacitor.py
  src/faebryk/library/components/Comparator.py
  src/faebryk/library/components/Crystal.py
  src/faebryk/library/components/Diode.py
  src/faebryk/library/components/Fuse.py
  src/faebryk/library/components/Inductor.py
  src/faebryk/library/components/LED.py
  src/faebryk/library/components/MOSFET.py
  src/faebryk/library/components/OpAmp.py
  src/faebryk/library/components/Relay.py
  src/faebryk/library/components/Resistor.py
  src/faebryk/library/components/ResistorArray.py
  src/faebryk/library/components/TestPoint.py
  src/faebryk/library/has_usage_example.py
Due: generate-library-init, ty

check in
  src/faebryk/library/LDO.py
  src/faebryk/library/components/Crystal_Oscillator.py
  src/faebryk/library/traits/requires_pulls.py
  src/faebryk/library/utils/Regulator.py
Due: generate-library-init, ty

cache datasheet crawling
  src/faebryk/libs/picker/lcsc.py
Due: ty

fix query deduplication
  src/faebryk/libs/picker/api/models.py
Due: ty

fix net name limit
  src/faebryk/libs/util.py
Due: ty

cache easyeda info
  src/faebryk/libs/picker/lcsc.py
Due: ty

skip noop explicit module pick
  src/faebryk/libs/picker/picker.py
Due: ty

Libs: Picker: Fix performance regressions (#1444)
  src/faebryk/libs/picker/api/models.py
  src/faebryk/libs/picker/lcsc.py
  src/faebryk/libs/picker/picker.py
  src/faebryk/libs/util.py
Due: ty

fix pre-commit
  src/faebryk/libs/picker/api/picker_lib.py
Due: ty

Libs: Picker: Upgrade LCSC_NoDataException to PickError for user-facing case (#1434)
  src/faebryk/libs/picker/api/picker_lib.py
Due: ty

Update src/atopile/targets.py
  src/atopile/targets.py
Due: ty

Remove debugging code from netlist target
  src/atopile/targets.py
Due: ty

fix pre-commit
  src/atopile/targets.py
Due: ty

Fix footprint name sanitization consistency
  src/faebryk/libs/ato_part.py
  test/libs/codegen/test_atocodegen.py
Due: ty

Optimize footprint name sanitization per sam-mellor's feedback
  src/faebryk/libs/ato_part.py
Due: ty

Add backward compatibility for unsanitized footprint files
  src/faebryk/libs/ato_part.py
  src/faebryk/libs/part_lifecycle.py
  test/libs/codegen/test_atocodegen.py
Due: ty

Fix ruff format issues in test file
  test/libs/codegen/test_atocodegen.py
Due: ty

net naming: add suggest_net_name attribute with high-priority hinting; avoid leading dash when no prefix; prefer interface instance name for deconflict; add tests for suggested naming
  src/faebryk/exporters/netlist/graph.py
  test/end_to_end/test_net_naming.py
Due: ty

via_docker property
  dockerfiles/Dockerfile.kicad
  src/atopile/telemetry.py
Due: ty

github action properties
  src/atopile/telemetry.py
Due: ty

run_id
  src/atopile/telemetry.py
Due: ty

no review on draft prs
  .github/workflows/claude-code-review.yml
Due: none

check pr format
  .github/workflows/claude-code-review.yml
Due: none

trigger on issue assignment
  .github/workflows/claude.yml
Due: none

allowed_tools
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Github: Add Claude Code GitHub Workflow (#1428)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

net naming: concatenate required affixes to base; replace generic base with interface instance name when affixed; keep power net names stable
  src/faebryk/exporters/netlist/graph.py
Due: ty

diff pairs: add has_net_name_affix trait; enforce _p/_n suffixes on DifferentialPair nets; integrate affixes into net naming; tests
  src/faebryk/exporters/netlist/graph.py
  src/faebryk/library/DifferentialPair.py
  src/faebryk/library/_F.py
  src/faebryk/library/has_net_name_affix.py
  test/end_to_end/test_net_naming.py
Due: generate-library-init, ty

net naming: conflict groups now assign per-net minimal unique prefixes (owner+interface); avoids generic names and yields stable forms like power_5v-vcc and sensor-power_5v-vcc
  src/faebryk/exporters/netlist/graph.py
Due: ty

soft_deprecated_field
  src/faebryk/libs/library/L.py
Due: ty

naming: implement suggest_net_name and affixes; smarter conflict prefixing; protect power rails; hierarchy-weighted suggestions; library suggested names; CLI test builds quickstart:default
  src/faebryk/exporters/netlist/graph.py
  src/faebryk/library/Addressor.py
  src/faebryk/library/Battery.py
  src/faebryk/library/CAN.py
  src/faebryk/library/CapacitorElectrolytic.py
  src/faebryk/library/DifferentialPair.py
  src/faebryk/library/Diode.py
  src/faebryk/library/ElectricPower.py
  src/faebryk/library/EnablePin.py
  src/faebryk/library/Ethernet.py
  src/faebryk/library/HDMI.py
  src/faebryk/library/I2C.py
  src/faebryk/library/I2S.py
  src/faebryk/library/JTAG.py
  src/faebryk/library/MOSFET.py
  src/faebryk/library/MultiSPI.py
  src/faebryk/library/PDM.py
  src/faebryk/library/ResistorVoltageDivider.py
  src/faebryk/library/SPI.py
  src/faebryk/library/SWD.py
  src/faebryk/library/UART.py
  src/faebryk/library/UART_Base.py
  src/faebryk/library/USB2_0_IF.py
  src/faebryk/library/USB_C.py
  src/faebryk/library/XtalIF.py
  src/faebryk/library/_F.py
  test/test_cli.py
Due: generate-library-init, ty

simplify getting net name
  src/faebryk/exporters/netlist/graph.py
Due: ty

remove unused fn
  src/faebryk/exporters/netlist/graph.py
Due: ty

add build checks
  src/atopile/cli/package.py
Due: ty

more package verification
  src/atopile/cli/package.py
  src/atopile/mcp/tools/cli.py
Due: ty

implement sort to avoid frozen failure bugs
  src/faebryk/libs/part_lifecycle.py
Due: ty

Path conditions:
  generate-library-init: any of: src/faebryk/library/.*.py
  ty: any of: \.py$
