Repository atopile/atopile: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-library-init, ty

generate-library-init:
  name: Generate library init
  entry: tools/library/gen_F.py
  language: python

ty:
  name: ty type checker
  entry: uv run ty check src
  language: system
  pass_filenames: false

formatting and style
  README.md
Due: none

update colors
  README.md
Due: none

formatting
  README.md
Due: none

Update README.md
  README.md
Due: none

update links
  README.md
Due: none

fix review comments
  README.md
Due: none

include warning change
  src/atopile/cli/package.py
Due: ty

add links to example projects
  README.md
Due: none

links + formatting, minor copy
  README.md
Due: none

Docs: update readme (#1458)
  README.md
  assets/tool.jpeg
Due: none

Library: JTAG/SWD: Add better example, add missing interface (#1454)
  src/faebryk/library/JTAG.py
  src/faebryk/library/SWD.py
Due: generate-library-init, ty

switch claude github workflow to api
  .github/workflows/claude-code-review.yml
Due: none

requests -> httpx
  pyproject.toml
  src/atopile/version.py
  src/faebryk/exporters/documentation/datasheets.py
  src/faebryk/libs/backend/packages/api.py
  src/faebryk/libs/http.py
  src/faebryk/libs/picker/api/api.py
  src/faebryk/libs/picker/api/picker_lib.py
  src/faebryk/libs/picker/lcsc.py
Due: ty

default to system cert stores
  pyproject.toml
  src/faebryk/libs/http.py
  uv.lock
Due: ty

use easyeda2kicad branch [drop this commit]
  pyproject.toml
  uv.lock
Due: none

fix version check
  src/atopile/version.py
Due: ty

dep minimum versions
  pyproject.toml
Due: none

uv lock
  uv.lock
Due: none

ssl on
  src/atopile/cli/logging_.py
  src/atopile/config.py
Due: ty

Github: Switch Claude Code GitHub Workflow to API Key (#1461)
  .github/workflows/claude-code-review.yml
Due: none

rules: functional demo of current-driven per-net widths
  examples/design_rules/ato.yaml
  examples/design_rules/design_rules.ato
  examples/design_rules/parts/UNI_ROYAL_0603WAF1000T5E/0603WAF1000T5E.kicad_sym
  examples/design_rules/parts/UNI_ROYAL_0603WAF1000T5E/R0603.STEP
  examples/design_rules/parts/UNI_ROYAL_0603WAF1000T5E/R0603.kicad_mod
  examples/design_rules/parts/UNI_ROYAL_0603WAF1000T5E/UNI_ROYAL_0603WAF1000T5E.ato
  src/atopile/targets.py
  src/faebryk/exporters/pcb/rules/rule_syntax.txt
  src/faebryk/exporters/pcb/rules/rules.py
  src/faebryk/exporters/pcb/rules/spec.md
Due: ty

library: add Stackup module and enable current params
  src/faebryk/library/Electrical.py
  src/faebryk/library/Ethernet.py
  src/faebryk/library/Stackup.ato
  src/faebryk/library/Stackup.py
  src/faebryk/library/_F.py
Due: generate-library-init, ty

refactor
  src/atopile/cli/package.py
Due: ty

no strict mode special case repo
  src/atopile/cli/package.py
Due: ty

strict mode env var
  src/atopile/cli/package.py
Due: ty

Exporters: Expose svg (2D) and png (3D) PCB/PCBA renders as build target (#1455)
  src/atopile/targets.py
  src/faebryk/exporters/pcb/kicad/artifacts.py
Due: ty

VSCE: No popup on LSP server crash
  src/vscode-atopile/src/common/server.ts
Due: none

Lifecycle: Download datasheet
  src/faebryk/libs/ato_part.py
  src/faebryk/libs/part_lifecycle.py
  src/faebryk/libs/picker/lcsc.py
Due: ty

auto uv setup more robust & optional
  src/vscode-atopile/package.json
  src/vscode-atopile/src/ui/setup.ts
Due: none

only show lsp stderr on exit
  src/vscode-atopile/src/common/server.ts
Due: none

type fix
  src/vscode-atopile/src/common/findbin.ts
Due: none

rules: prep refactor scaffolding (collect/emit/export)
  examples/design_rules/design_rules.ato
  src/faebryk/exporters/pcb/rules/collect.py
  src/faebryk/exporters/pcb/rules/emit.py
  src/faebryk/exporters/pcb/rules/export.py
Due: ty

WIP: add: kicad dru file format
  src/faebryk/libs/kicad/fileformats_latest.py
Due: ty

rules: refactor exporter on DRU branch; preserve behavior; linted
  examples/layout_reuse/parts/UNI_ROYAL_0402WGF1001TCE/0402WGF1001TCE.kicad_sym
  examples/layout_reuse/parts/UNI_ROYAL_0402WGF1001TCE/R0402.kicad_mod
  examples/layout_reuse/parts/UNI_ROYAL_0402WGF1001TCE/R0402_L1.0-W0.5-H0.4.step
  examples/layout_reuse/parts/UNI_ROYAL_0402WGF1001TCE/UNI_ROYAL_0402WGF1001TCE.ato
  examples/pick_parts/parts/Hubei_KENTO_Elec_KT_0603R/Hubei_KENTO_Elec_KT_0603R.ato
  examples/pick_parts/parts/Hubei_KENTO_Elec_KT_0603R/KT-0603R.kicad_sym
  examples/pick_parts/parts/Hubei_KENTO_Elec_KT_0603R/LED0603-RD-YELLOW.STEP
  examples/pick_parts/parts/Hubei_KENTO_Elec_KT_0603R/LED0603-RD.kicad_mod
  examples/pick_parts/parts/UNI_ROYAL_0402WGF1002TCE/0402WGF1002TCE.kicad_sym
  examples/pick_parts/parts/UNI_ROYAL_0402WGF1002TCE/R0402.kicad_mod
  examples/pick_parts/parts/UNI_ROYAL_0402WGF1002TCE/R0402_L1.0-W0.5-H0.4.step
  examples/pick_parts/parts/UNI_ROYAL_0402WGF1002TCE/UNI_ROYAL_0402WGF1002TCE.ato
  src/faebryk/exporters/pcb/rules/collect.py
  src/faebryk/exporters/pcb/rules/emit.py
  src/faebryk/exporters/pcb/rules/export.py
  src/faebryk/exporters/pcb/rules/rules.py
Due: ty

model buildutil steps as DAG of functions
  src/atopile/build_steps.py
  src/atopile/buildutil.py
  src/atopile/targets.py
Due: ty

graphviz preview
  pyproject.toml
  src/atopile/build_steps.py
  src/faebryk/libs/util.py
  uv.lock
Due: ty

all = default++
  src/atopile/build_steps.py
Due: ty

Path conditions:
  generate-library-init: any of: src/faebryk/library/.*.py
  ty: any of: \.py$
