Repository atopile/atopile: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-library-init, ty

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: generate-library-init
        name: Generate library init
        entry: tools/library/gen_F.py
        language: python
        files: src/faebryk/library/.*.py
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.12.0
    hooks:
      - id: ruff-check
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.7.13
    hooks:
      - id: uv-lock
  - repo: local
    hooks:
      - id: ty
        name: ty type checker
        entry: uv run ty check src
        language: system
        types: [python]
        pass_filenames: false

reorganizing
  scripts/build_examples.py
  scripts/update_usage_examples.py
Due: ty

Add debugging assertions to diagnose CI import issue
  test/libs/codegen/test_atocodegen.py
Due: ty

auto gen
  src/faebryk/core/zig/__init__.py
  src/faebryk/core/zig/__init__.pyi
  src/faebryk/core/zig/build.zig
  src/faebryk/core/zig/src/pyzig/demo/root.zig
  src/faebryk/core/zig/src/pyzig/demo/root_py.zig
  src/faebryk/core/zig/src/pyzig/demo/root_pyi.zig
  src/faebryk/core/zig/src/pyzig/pybindings.zig
  src/faebryk/core/zig/src/pyzig/pyzig.zig
  src/faebryk/core/zig/src/sexp/lib.zig
  src/faebryk/core/zig/src/sexp/py.zig
  src/faebryk/core/zig/test/pyzig/test_pyzig.py
  src/faebryk/core/zig/test/sexp/test_pcb.py
Due: ty

create pytest
  scripts/build_examples.py
  test/library/test_usage_examples.py
Due: ty

expose in python
  src/faebryk/core/zig/__init__.pyi
  src/faebryk/core/zig/src/pyzig/pyzig.zig
  src/faebryk/core/zig/src/sexp/py.zig
  src/faebryk/core/zig/src/sexp/pyi.zig
  src/faebryk/core/zig/test/sexp/test_load_pcb.py
  src/faebryk/libs/kicad/fileformats_latest.py
Due: ty

printing
  src/faebryk/core/zig/src/pyzig/pybindings.zig
  src/faebryk/core/zig/src/pyzig/pyzig.zig
  src/faebryk/libs/kicad/fileformats_latest.py
Due: ty

fix repr
  src/faebryk/core/zig/src/pyzig/pyzig.zig
Due: none

str
  src/faebryk/core/zig/src/sexp/kicad/pcb.zig
Due: none

fix typers
  src/faebryk/core/zig/src/pyzig/pyzig.zig
  src/faebryk/core/zig/src/sexp/kicad/pcb.zig
Due: none

cleaning up pytest and script
  scripts/build_examples.py
  test/library/test_usage_examples.py
Due: ty

add skip list
  test/library/test_usage_examples.py
Due: ty

claude add all usage examples
  src/faebryk/library/Common_Mode_Filter.py
  src/faebryk/library/ElectricLogicGate.py
  src/faebryk/library/Filter.py
  src/faebryk/library/FilterElectricalLC.py
  src/faebryk/library/GDT.py
  src/faebryk/library/GenericBusProtection.py
  src/faebryk/library/LogicGate.py
  src/faebryk/library/Pinmux.py
  src/faebryk/library/PowerMux.py
  src/faebryk/library/PowerSwitchStatic.py
  src/faebryk/library/PoweredLED.py
  src/faebryk/library/ResistorVoltageDivider.py
  src/faebryk/library/SurgeProtection.py
  test/library/test_usage_examples.py
Due: generate-library-init, ty

delete script in favor of pytest
  scripts/build_examples.py
Due: ty

format
  src/faebryk/library/Addressor.py
  src/faebryk/library/Common_Mode_Filter.py
  src/faebryk/library/EEPROM.py
  src/faebryk/library/ElectricLogic.py
  src/faebryk/library/ElectricLogicGate.py
  src/faebryk/library/Filter.py
  src/faebryk/library/FilterElectricalLC.py
  src/faebryk/library/GDT.py
  src/faebryk/library/GenericBusProtection.py
  src/faebryk/library/JTAG.py
  src/faebryk/library/LogicGate.py
  src/faebryk/library/Pinmux.py
  src/faebryk/library/PowerMux.py
  src/faebryk/library/PowerSwitch.py
  src/faebryk/library/PowerSwitchMOSFET.py
  src/faebryk/library/PowerSwitchStatic.py
  src/faebryk/library/PoweredLED.py
  src/faebryk/library/Resistor.py
  src/faebryk/library/SPI.py
  src/faebryk/library/SWD.py
  test/library/test_usage_examples.py
Due: generate-library-init, ty

minor change to logic
  test/library/test_usage_examples.py
Due: ty

multi module
  src/faebryk/core/zig/__init__.py
  src/faebryk/core/zig/__init__.pyi
  src/faebryk/core/zig/build.zig
  src/faebryk/core/zig/footprint.pyi
  src/faebryk/core/zig/fp_lib_table.pyi
  src/faebryk/core/zig/netlist.pyi
  src/faebryk/core/zig/pcb.pyi
  src/faebryk/core/zig/src/pyzig/pybindings.zig
  src/faebryk/core/zig/src/sexp/kicad/footprint.zig
  src/faebryk/core/zig/src/sexp/kicad/fp_lib_table.pyi
  src/faebryk/core/zig/src/sexp/kicad/fp_lib_table.zig
  src/faebryk/core/zig/src/sexp/kicad/pcb.zig
  src/faebryk/core/zig/src/sexp/lib.zig
  src/faebryk/core/zig/src/sexp/py.zig
  src/faebryk/core/zig/src/sexp/pyi.zig
  src/faebryk/libs/kicad/_archive/fileformats_common.py
  src/faebryk/libs/kicad/_archive/fileformats_sch.py
  src/faebryk/libs/kicad/_archive/fileformats_v5.py
  src/faebryk/libs/kicad/_archive/fileformats_v6.py
  src/faebryk/libs/kicad/_archive/fileformats_v8.py
  src/faebryk/libs/kicad/_archive/fileformats_version.py
  src/faebryk/libs/kicad/_archive/sexp/dataclass_sexp.py
  src/faebryk/libs/kicad/_archive/sexp/util.py
  src/faebryk/libs/kicad/fileformat_config.py
  src/faebryk/libs/kicad/fileformats.py
  src/faebryk/libs/kicad/fileformats_latest.py
  src/faebryk/libs/kicad/ipc.py
Due: ty

begin manual review of library
  src/faebryk/library/Filter.py
  src/faebryk/library/Fuse.py
  src/faebryk/library/LogicGate.py
  src/faebryk/library/TVS.py
Due: generate-library-init, ty

first round of deletions
  src/faebryk/library/Common_Mode_Filter.py
  src/faebryk/library/EEPROM.py
  src/faebryk/library/ElectricLogicGate.py
  src/faebryk/library/ElectricLogicGates.py
  src/faebryk/library/Fan.py
  src/faebryk/library/GDT.py
  src/faebryk/library/GenericBusProtection.py
  src/faebryk/library/LDO.py
  src/faebryk/library/LEDIndicator.py
  src/faebryk/library/LogicGate.py
  src/faebryk/library/LogicGates.py
  src/faebryk/library/LogicOps.py
  src/faebryk/library/NFET.py
  src/faebryk/library/PFET.py
  src/faebryk/library/Potentiometer.py
  src/faebryk/library/PowerMux.py
  src/faebryk/library/PowerSwitch.py
  src/faebryk/library/PowerSwitchMOSFET.py
  src/faebryk/library/PowerSwitchStatic.py
  src/faebryk/library/PoweredLED.py
  src/faebryk/library/RS485HalfDuplex.py
  src/faebryk/library/Resistor_Voltage_Divider.py
  src/faebryk/library/SPIFlash.py
  src/faebryk/library/Sercom.py
  src/faebryk/library/SurgeProtection.py
  src/faebryk/library/can_be_surge_protected.py
  src/faebryk/library/can_be_surge_protected_defined.py
Due: generate-library-init, ty

update _F
  src/faebryk/library/_F.py
Due: generate-library-init, ty

adding back surge protection
  src/faebryk/library/SurgeProtection.py
  src/faebryk/library/_F.py
  src/faebryk/library/can_be_surge_protected.py
  src/faebryk/library/can_be_surge_protected_defined.py
Due: generate-library-init, ty

refactor 1
  src/atopile/build_steps.py
  src/atopile/cli/kicad_ipc.py
  src/atopile/config.py
  src/faebryk/core/zig/INTEGRATION.md
  src/faebryk/core/zig/TODO.md
  src/faebryk/core/zig/netlist.pyi
  src/faebryk/core/zig/pcb.pyi
  src/faebryk/core/zig/src/pyzig/pybindings.zig
  src/faebryk/core/zig/src/sexp/kicad/netlist.zig
  src/faebryk/core/zig/src/sexp/kicad/pcb.zig
  src/faebryk/core/zig/src/sexp/py.zig
  src/faebryk/core/zig/test/sexp/performance/performance_sexp.py
  src/faebryk/core/zig/test/sexp/test_load_pcb.py
  src/faebryk/core/zig/test/sexp/test_mod.py
  src/faebryk/core/zig/test/sexp/test_pcb copy.py
  src/faebryk/exporters/netlist/kicad/netlist_kicad.py
  src/faebryk/exporters/pcb/kicad/transformer.py
  src/faebryk/exporters/pcb/layout/heuristic_decoupling.py
  src/faebryk/exporters/pcb/layout/layout_sync.py
  src/faebryk/exporters/schematic/kicad/transformer.py
  src/faebryk/importers/netlist/kicad/netlist_kicad.py
  src/faebryk/library/KicadFootprint.py
  src/faebryk/library/PCB.py
  src/faebryk/libs/app/pcb.py
  src/faebryk/libs/ato_part.py
  src/faebryk/libs/kicad/_archive/fileformats_v5.py
  src/faebryk/libs/kicad/_archive/fileformats_v6.py
  src/faebryk/libs/kicad/_archive/fileformats_version.py
  src/faebryk/libs/kicad/drc.py
  src/faebryk/libs/kicad/fileformats.py
  src/faebryk/libs/part_lifecycle.py
  src/faebryk/libs/picker/lcsc.py
  test/end_to_end/test_pcb_export.py
  test/exporters/netlist/kicad/test_netlist_kicad.py
  test/exporters/pcb/kicad/test_pcb_transformer.py
  test/libs/kicad/test_fileformats.py
  test/libs/kicad/test_sexp.py
Due: generate-library-init, ty

after manual review
  src/faebryk/library/Addressor.py
  src/faebryk/library/Battery.py
  src/faebryk/library/CAN.py
  src/faebryk/library/Capacitor.py
  src/faebryk/library/Comparator.py
  src/faebryk/library/Crystal.py
  src/faebryk/library/Crystal_Oscillator.py
  src/faebryk/library/DifferentialPair.py
  src/faebryk/library/Diode.py
  src/faebryk/library/ElectricSignal.py
  src/faebryk/library/Ethernet.py
  src/faebryk/library/Fuse.py
  src/faebryk/library/I2C.py
  src/faebryk/library/Inductor.py
  src/faebryk/library/JTAG.py
  src/faebryk/library/LED.py
  src/faebryk/library/MOSFET.py
  src/faebryk/library/MultiCapacitor.py
  src/faebryk/library/MultiSPI.py
  src/faebryk/library/OpAmp.py
  src/faebryk/library/Pinmux.py
  src/faebryk/library/Regulator.py
  src/faebryk/library/Relay.py
  src/faebryk/library/Resistor.py
  src/faebryk/library/ResistorArray.py
  src/faebryk/library/SPI.py
  src/faebryk/library/SurgeProtection.py
  src/faebryk/library/TVS.py
  src/faebryk/library/UART.py
  src/faebryk/library/USB_C.py
  test/library/test_usage_examples.py
Due: generate-library-init, ty

keep powerLED and LDO
  src/faebryk/library/LDO.py
  src/faebryk/library/PoweredLED.py
Due: generate-library-init, ty

format
  src/faebryk/library/_F.py
Due: generate-library-init, ty

remove NFET and PFET reference in mosfets.ato
  src/faebryk/library/mosfets.ato
Due: none

refactor 2
  src/faebryk/core/zig/TODO.md
  src/faebryk/core/zig/fp_lib_table.pyi
  src/faebryk/core/zig/pcb.pyi
  src/faebryk/core/zig/src/pyzig/pyzig.zig
  src/faebryk/core/zig/src/sexp/kicad/fp_lib_table.zig
  src/faebryk/core/zig/src/sexp/kicad/pcb.zig
  src/faebryk/core/zig/src/sexp/kicad/schematic.zig
  src/faebryk/core/zig/src/sexp/kicad/symbol.zig
  src/faebryk/core/zig/src/sexp/lib.zig
  src/faebryk/core/zig/src/sexp/structure.zig
  src/faebryk/exporters/pcb/layout/heuristic_decoupling.py
  src/faebryk/exporters/pcb/layout/layout_sync.py
  src/faebryk/importers/netlist/kicad/netlist_kicad.py
  src/faebryk/library/KicadFootprint.py
  src/faebryk/library/PCB.py
  src/faebryk/libs/ato_part.py
  src/faebryk/libs/kicad/fileformats.py
  src/faebryk/libs/kicad/ipc.py
  src/faebryk/libs/part_lifecycle.py
  src/faebryk/libs/picker/lcsc.py
  test/exporters/netlist/kicad/test_netlist_kicad.py
  test/exporters/pcb/kicad/test_pcb_transformer.py
  test/exporters/schematic/kicad/test_schematic_transformer.py
  test/libs/kicad/test_fileformats.py
Due: generate-library-init, ty

remove NFET dependency from Relay example
  src/faebryk/library/Relay.py
Due: generate-library-init, ty

schematic & sym
  src/faebryk/core/zig/schematic.pyi
  src/faebryk/core/zig/src/pyzig/pyzig.zig
  src/faebryk/core/zig/src/sexp/kicad/schematic.zig
  src/faebryk/core/zig/src/sexp/kicad/symbol.zig
  src/faebryk/core/zig/src/sexp/py.zig
  src/faebryk/core/zig/src/sexp/pyi.zig
  src/faebryk/core/zig/symbol.pyi
Due: none

replacing indicator LEDs in test cases
  src/faebryk/library/SPIFlash.py
  test/core/solver/test_solver.py
  test/test_lsp_completion.py
Due: generate-library-init, ty

lsp completion tests have error
  test/test_lsp_completion.py
Due: ty

refactor 3
  src/faebryk/core/zig/TODO.md
  src/faebryk/core/zig/src/sexp/kicad/symbol.zig
  src/faebryk/core/zig/symbol.pyi
  src/faebryk/exporters/pcb/kicad/transformer.py
  src/faebryk/libs/ato_part.py
  src/faebryk/libs/kicad/fileformats.py
  src/faebryk/libs/picker/lcsc.py
  test/exporters/schematic/kicad/test_schematic_transformer.py
Due: ty

fix errors (not failures)
  src/faebryk/core/zig/TODO.md
  src/faebryk/core/zig/footprint.pyi
  src/faebryk/core/zig/fp_lib_table.pyi
  src/faebryk/core/zig/netlist.pyi
  src/faebryk/core/zig/pcb.pyi
  src/faebryk/core/zig/schematic.pyi
  src/faebryk/core/zig/src/pyzig/pyi.zig
  src/faebryk/core/zig/src/sexp/py.zig
  src/faebryk/core/zig/symbol.pyi
  src/faebryk/core/zig/test/sexp/test_pcb copy.py
  src/faebryk/core/zig/test/sexp/test_pcb.py
  src/faebryk/exporters/schematic/kicad/transformer.py
  src/faebryk/libs/kicad/fileformats.py
  test/exporters/netlist/kicad/test_netlist_kicad.py
  test/libs/kicad/test_fileformats.py
  test/libs/kicad/test_sexp.py
Due: ty

tests passing
  test/core/solver/test_solver.py
  test/test_lsp_completion.py
Due: ty

all examples building
  src/faebryk/library/LDO.py
  src/faebryk/library/PoweredLED.py
Due: generate-library-init, ty

check for import
  test/library/test_usage_examples.py
Due: ty

enum progress & checksums
  src/faebryk/core/zig/TODO.md
  src/faebryk/core/zig/footprint.pyi
  src/faebryk/core/zig/fp_lib_table.pyi
  src/faebryk/core/zig/netlist.pyi
  src/faebryk/core/zig/pcb.pyi
  src/faebryk/core/zig/schematic.pyi
  src/faebryk/core/zig/src/pyzig/pybindings.zig
  src/faebryk/core/zig/src/pyzig/pyi.zig
  src/faebryk/core/zig/src/sexp/kicad/pcb.zig
  src/faebryk/core/zig/src/sexp/py.zig
  src/faebryk/core/zig/symbol.pyi
  src/faebryk/exporters/pcb/kicad/transformer.py
  src/faebryk/libs/ato_part.py
  src/faebryk/libs/kicad/fileformats.py
  src/faebryk/libs/part_lifecycle.py
Due: ty

expose runtime enums
  src/faebryk/core/zig/TODO.md
  src/faebryk/core/zig/pcb.pyi
  src/faebryk/core/zig/src/pyzig/pybindings.zig
  src/faebryk/core/zig/src/sexp/kicad/pcb.zig
  src/faebryk/core/zig/src/sexp/py.zig
  src/faebryk/library/PCB.py
Due: generate-library-init, ty
