Repository atopile/atopile: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-library-init, ty

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: generate-library-init
        name: Generate library init
        entry: tools/library/gen_F.py
        language: python
        files: src/faebryk/library/.*.py
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.12.0
    hooks:
      - id: ruff-check
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.7.13
    hooks:
      - id: uv-lock
  - repo: local
    hooks:
      - id: ty
        name: ty type checker
        entry: uv run ty check src
        language: system
        types: [python]
        pass_filenames: false

splitting solver step in build log
  src/atopile/buildutil.py
Due: ty

add more checks
  src/atopile/cli/package.py
Due: ty

first pass package verify command
  src/atopile/cli/package.py
Due: ty

remove datasheet crawl for fast run
  src/faebryk/libs/picker/lcsc.py
Due: ty

CLI: Add telemetry properties for CI attribution and same-run event correlation (#1446)
  dockerfiles/Dockerfile.kicad
  src/atopile/telemetry.py
Due: ty

claude refactor
  src/faebryk/exporters/netlist/graph.py
Due: ty

fix examples test
  test/test_examples.py
Due: ty

Library: Add suggested net names (#1445)
  src/faebryk/exporters/netlist/graph.py
  src/faebryk/library/Addressor.py
  src/faebryk/library/Battery.py
  src/faebryk/library/CAN.py
  src/faebryk/library/CapacitorElectrolytic.py
  src/faebryk/library/DifferentialPair.py
  src/faebryk/library/Diode.py
  src/faebryk/library/ElectricPower.py
  src/faebryk/library/EnablePin.py
  src/faebryk/library/Ethernet.py
  src/faebryk/library/HDMI.py
  src/faebryk/library/I2C.py
  src/faebryk/library/I2S.py
  src/faebryk/library/JTAG.py
  src/faebryk/library/MOSFET.py
  src/faebryk/library/MultiSPI.py
  src/faebryk/library/PDM.py
  src/faebryk/library/ResistorVoltageDivider.py
  src/faebryk/library/SPI.py
  src/faebryk/library/SWD.py
  src/faebryk/library/UART.py
  src/faebryk/library/UART_Base.py
  src/faebryk/library/USB2_0_IF.py
  src/faebryk/library/USB_C.py
  src/faebryk/library/XtalIF.py
  src/faebryk/library/_F.py
  src/faebryk/library/has_net_name_affix.py
  test/end_to_end/test_net_naming.py
  test/test_cli.py
  test/test_examples.py
Due: generate-library-init, ty

add check for package version increment
  src/atopile/cli/package.py
Due: ty

naming: place numeric conflicts before diff suffix (line-1_N); ensure diff-pair suffix is last
  src/faebryk/exporters/netlist/graph.py
Due: ty

naming: propagate single-side suggested base across DifferentialPair; consider ancestor suggestions; keep diff base/prefix identical across _P/_N
  src/faebryk/exporters/netlist/graph.py
Due: ty

latest version check is working
  src/atopile/cli/package.py
Due: ty

add sort within list
  src/faebryk/libs/part_lifecycle.py
Due: ty

Fix broken part imports
  src/atopile/config.py
  src/atopile/front_end.py
  src/atopile/lsp/lsp_server.py
  src/faebryk/libs/part_lifecycle.py
Due: ty

update _F
  src/faebryk/library/_F.py
Due: generate-library-init, ty

remove mounting hole
  src/faebryk/library/Mounting_Hole.py
Due: generate-library-init, ty

precommit
  src/faebryk/library/FilterElectricalRC.py
Due: generate-library-init, ty

test effectiveness of fix
  src/faebryk/library/FilterElectricalRC.py
Due: generate-library-init, ty

restoring _F
  src/faebryk/library/_F.py
Due: generate-library-init, ty

add default inputs
  src/faebryk/library/DIP.py
  src/faebryk/library/KicadFootprint.py
  src/faebryk/library/LogicGate.py
  src/faebryk/library/MultiCapacitor.py
  src/faebryk/library/QFN.py
  src/faebryk/library/SMDTwoPin.py
  src/faebryk/library/SOIC.py
Due: generate-library-init, ty

checkout filterelectricalrc
  src/faebryk/library/FilterElectricalRC.py
Due: generate-library-init, ty

merge main
  src/faebryk/library/Mounting_Hole.py
  src/faebryk/library/_F.py
  src/faebryk/library/has_usage_example.py
Due: generate-library-init, ty

add default inputs, add manual rc filter
  src/faebryk/library/DIP.py
  src/faebryk/library/FilterElectricalRC.py
  src/faebryk/library/QFN.py
  src/faebryk/library/SMDTwoPin.py
Due: generate-library-init, ty

rebase on main
  src/faebryk/library/DIP.py
  src/faebryk/library/ElectricLogic.py
  src/faebryk/library/ElectricPower.py
  src/faebryk/library/KicadFootprint.py
  src/faebryk/library/LogicGate.py
  src/faebryk/library/MultiCapacitor.py
  src/faebryk/library/QFN.py
  src/faebryk/library/Resistor.py
  src/faebryk/library/SMDTwoPin.py
  src/faebryk/library/SOIC.py
  src/faebryk/library/_F.py
Due: generate-library-init, ty

generate _F
  src/faebryk/library/_F.py
Due: generate-library-init, ty

fix netnaming to make deterministic
  src/faebryk/exporters/netlist/graph.py
Due: ty

netlist: remove differential-pair name harmonization logic
  src/faebryk/exporters/netlist/graph.py
Due: ty

remove deprecated call from LED example
  src/faebryk/library/LED.py
Due: generate-library-init, ty

remove deprecated call from LED example fix
  src/faebryk/library/LED.py
Due: generate-library-init, ty

Update src/faebryk/exporters/netlist/graph.py
  src/faebryk/exporters/netlist/graph.py
Due: ty

netlist: cache _get_stable_node_name with lru_cache for performance and determinism
  src/faebryk/exporters/netlist/graph.py
Due: ty

tests: format determinism test (pre-commit ruff-format)
  test/end_to_end/test_net_name_determinism.py
Due: ty

fix test
  test/end_to_end/test_net_name_determinism.py
Due: ty

update esp32minimal to latest packages
  examples/esp32_minimal/ato.yaml
  examples/esp32_minimal/esp32_minimal.ato
  examples/esp32_minimal/layouts/esp32_minimal/esp32_minimal.kicad_pcb
  examples/esp32_minimal/layouts/esp32_minimal/fp-lib-table
  examples/esp32_minimal/parts/Samsung_Electro_Mechanics_CL21A226MAQNNNE/C0805.kicad_mod
  examples/esp32_minimal/parts/Samsung_Electro_Mechanics_CL21A226MAQNNNE/C0805_L2.0-W1.3-H1.3.step
  examples/esp32_minimal/parts/Samsung_Electro_Mechanics_CL21A226MAQNNNE/CL21A226MAQNNNE.kicad_sym
  examples/esp32_minimal/parts/Samsung_Electro_Mechanics_CL21A226MAQNNNE/Samsung_Electro_Mechanics_CL21A226MAQNNNE.ato
Due: none

exporters/netlist: replace @lru_cache with @once for _get_stable_node_name to align with project caching utilities
  src/faebryk/exporters/netlist/graph.py
Due: ty
