Repository atopile/atopile: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-library-init, ty

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: generate-library-init
        name: Generate library init
        entry: tools/library/gen_F.py
        language: python
        files: src/faebryk/library/.*.py
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.12.0
    hooks:
      - id: ruff-check
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.7.13
    hooks:
      - id: uv-lock
  - repo: local
    hooks:
      - id: ty
        name: ty type checker
        entry: uv run ty check src
        language: system
        types: [python]
        pass_filenames: false

Libs: Packages: Fix missing auth header (#1496)
  src/faebryk/libs/backend/packages/api.py
Due: ty

mutable lists
  src/faebryk/core/zig/footprint.pyi
  src/faebryk/core/zig/footprint_v5.pyi
  src/faebryk/core/zig/fp_lib_table.pyi
  src/faebryk/core/zig/netlist.pyi
  src/faebryk/core/zig/pcb.pyi
  src/faebryk/core/zig/schematic.pyi
  src/faebryk/core/zig/src/pyzig/pybindings.zig
  src/faebryk/core/zig/src/pyzig/pyi.zig
  src/faebryk/core/zig/src/pyzig/pyzig.zig
  src/faebryk/core/zig/src/sexp/ast.zig
  src/faebryk/core/zig/symbol.pyi
  src/faebryk/core/zig/symbol_v6.pyi
  src/faebryk/core/zig/test/sexp/test_fp_lib.py
  src/faebryk/core/zig/test/sexp/test_pcb.py
  src/faebryk/exporters/pcb/kicad/transformer.py
  src/faebryk/exporters/schematic/kicad/transformer.py
  src/faebryk/libs/kicad/fileformats.py
  src/faebryk/libs/part_lifecycle.py
Due: ty

mutable optional
  src/faebryk/core/zig/src/pyzig/pyzig.zig
Due: none

type fixes transformer
  src/faebryk/core/zig/TODO.md
  src/faebryk/core/zig/pcb.pyi
  src/faebryk/core/zig/schematic.pyi
  src/faebryk/core/zig/src/sexp/kicad/pcb.zig
  src/faebryk/core/zig/src/sexp/kicad/schematic.zig
  src/faebryk/exporters/pcb/kicad/transformer.py
  src/faebryk/libs/kicad/fileformats.py
Due: ty

api working
  src/atopile/cli/package.py
  src/faebryk/libs/backend/packages/api.py
Due: ty

remove more edge cases
  src/faebryk/core/zig/TODO.md
  src/faebryk/core/zig/src/sexp/structure.zig
  src/faebryk/core/zig/test/sexp/test_pcb.py
  src/faebryk/exporters/pcb/layout/layout_sync.py
  src/faebryk/exporters/schematic/kicad/transformer.py
  test/exporters/netlist/kicad/test_netlist_kicad.py
  test/libs/kicad/test_fileformats.py
Due: ty

type register
  src/faebryk/core/zig/src/pyzig/pyzig.zig
  src/faebryk/core/zig/src/sexp/py.zig
  src/faebryk/exporters/pcb/kicad/transformer.py
  src/faebryk/exporters/schematic/kicad/transformer.py
  test/end_to_end/test_pcb_export.py
  test/exporters/schematic/kicad/test_schematic_transformer.py
Due: ty

enums slices
  src/faebryk/core/zig/footprint.pyi
  src/faebryk/core/zig/footprint_v5.pyi
  src/faebryk/core/zig/pcb.pyi
  src/faebryk/core/zig/src/pyzig/pyzig.zig
  src/faebryk/core/zig/src/sexp/kicad/footprint.zig
  src/faebryk/core/zig/src/sexp/kicad/pcb.zig
  src/faebryk/core/zig/src/sexp/kicad/v5/footprint.zig
  src/faebryk/core/zig/src/sexp/pyi.zig
  src/faebryk/core/zig/src/sexp/structure.zig
  test/libs/kicad/test_fileformats.py
Due: ty

hide value text on fab layer
  src/faebryk/libs/part_lifecycle.py
Due: ty

more powerful bool
  src/faebryk/core/zig/TODO.md
  src/faebryk/core/zig/pcb.pyi
  src/faebryk/core/zig/schematic.pyi
  src/faebryk/core/zig/src/sexp/kicad/pcb.zig
  src/faebryk/core/zig/src/sexp/kicad/schematic.zig
  src/faebryk/core/zig/src/sexp/kicad/v6/symbol.zig
  src/faebryk/core/zig/src/sexp/pyi.zig
  src/faebryk/core/zig/src/sexp/structure.zig
  src/faebryk/core/zig/symbol_v6.pyi
  src/faebryk/libs/ato_part.py
  src/faebryk/libs/kicad/fileformats.py
  test/libs/kicad/test_fileformats.py
Due: ty

fix justify
  src/faebryk/core/zig/TODO.md
  src/faebryk/core/zig/pcb.pyi
  src/faebryk/core/zig/src/pyzig/pyzig.zig
  src/faebryk/core/zig/src/sexp/kicad/pcb.zig
  src/faebryk/exporters/pcb/kicad/transformer.py
  src/faebryk/exporters/schematic/kicad/transformer.py
  test/libs/kicad/test_fileformats.py
Due: ty

changed filtering to by layer
  src/faebryk/libs/part_lifecycle.py
Due: ty

kicad sexp pretty
  src/faebryk/core/zig/TODO.md
  src/faebryk/core/zig/footprint.pyi
  src/faebryk/core/zig/pcb.pyi
  src/faebryk/core/zig/src/sexp/ast.zig
  src/faebryk/core/zig/src/sexp/kicad/footprint.zig
  src/faebryk/core/zig/src/sexp/kicad/pcb.zig
  src/faebryk/core/zig/src/sexp/structure.zig
  src/faebryk/libs/kicad/fileformats.py
  test/libs/kicad/test_fileformats.py
Due: ty

Fix: hide value text on fab layer (#1497)
  src/faebryk/libs/part_lifecycle.py
Due: ty

escape strings
  src/faebryk/core/zig/src/sexp/ast.zig
  src/faebryk/core/zig/src/sexp/tokenizer.zig
  src/faebryk/exporters/pcb/kicad/transformer.py
  src/faebryk/libs/app/picking.py
  src/faebryk/libs/util.py
  test/libs/kicad/test_fileformats.py
Due: ty

type fixes
  src/faebryk/exporters/pcb/kicad/transformer.py
  src/faebryk/libs/util.py
Due: ty

fix str mem leak
  src/faebryk/core/zig/src/pyzig/pyzig.zig
  src/faebryk/core/zig/src/sexp/ast.zig
  src/faebryk/core/zig/src/sexp/structure.zig
  src/faebryk/exporters/pcb/kicad/transformer.py
  src/faebryk/libs/part_lifecycle.py
Due: ty

remove hashing; improve compare
  src/atopile/build_steps.py
  src/faebryk/core/zig/src/sexp/structure.zig
  src/faebryk/exporters/pcb/kicad/transformer.py
  src/faebryk/libs/ato_part.py
  src/faebryk/libs/kicad/fileformats.py
  src/faebryk/libs/part_lifecycle.py
  src/faebryk/libs/util.py
Due: ty

feat: support parallel pull resistors in requires_pulls check
  src/faebryk/library/ElectricSignal.py
  test/library/test_design_checks.py
Due: generate-library-init, ty

split out report-status into cli command
  src/atopile/cli/package.py
Due: ty

removing dummy code
  src/atopile/cli/package.py
Due: ty

uuids, layout sync & build stability
  src/atopile/build_steps.py
  src/faebryk/core/zig/TODO.md
  src/faebryk/core/zig/footprint.pyi
  src/faebryk/core/zig/src/pyzig/pyzig.zig
  src/faebryk/core/zig/src/sexp/kicad/footprint.zig
  src/faebryk/exporters/pcb/kicad/transformer.py
  src/faebryk/exporters/pcb/layout/layout_sync.py
  src/faebryk/libs/kicad/fileformats.py
  src/faebryk/libs/part_lifecycle.py
Due: ty

polish
  src/faebryk/library/ElectricSignal.py
Due: generate-library-init, ty

short-circuit
  src/faebryk/library/ElectricSignal.py
Due: generate-library-init, ty

fp-lib-table warning
  src/faebryk/core/zig/TODO.md
  src/faebryk/libs/kicad/fileformats.py
  src/faebryk/libs/part_lifecycle.py
Due: ty

ruff
  src/atopile/build_steps.py
  src/faebryk/core/zig/TODO.md
  src/faebryk/core/zig/test/sexp/test_fp_lib.py
  src/faebryk/core/zig/test/sexp/test_pcb.py
  src/faebryk/exporters/pcb/kicad/transformer.py
  src/faebryk/exporters/schematic/kicad/transformer.py
  src/faebryk/libs/kicad/fileformats.py
Due: ty

ruff2
  src/faebryk/libs/part_lifecycle.py
Due: ty

fix test
  test/library/test_design_checks.py
Due: ty

fix sum
  src/faebryk/library/ElectricSignal.py
Due: generate-library-init, ty

netname test
  src/faebryk/exporters/pcb/kicad/transformer.py
Due: ty

Library: Support parallel pull resistors in requires_pulls check (#1500)
  src/faebryk/library/ElectricSignal.py
  test/library/test_design_checks.py
Due: generate-library-init, ty

ato: Trait instances
  src/atopile/front_end.py
  src/atopile/parser/AtoParser.g4
  src/atopile/parser/AtoParser.interp
  src/atopile/parser/AtoParser.py
Due: ty

fix flip
  examples/i2c/parts/Texas_Instruments_TCA9548APWR/TSSOP-24_L7.8-W4.4-P0.65-LS6.4-BL.kicad_mod
  examples/i2c/parts/Texas_Instruments_TCA9548APWR/Texas_Instruments_TCA9548APWR.ato
  examples/i2c/parts/UNI_ROYAL_0402WGF1002TCE/R0402.kicad_mod
  examples/i2c/parts/UNI_ROYAL_0402WGF1002TCE/UNI_ROYAL_0402WGF1002TCE.ato
  src/faebryk/core/zig/TODO.md
  src/faebryk/exporters/pcb/kicad/transformer.py
  src/faebryk/libs/kicad/fileformats.py
Due: ty

bit better flip
  src/faebryk/core/zig/TODO.md
  src/faebryk/exporters/pcb/kicad/transformer.py
Due: ty

fix transfomer outdated graph
  src/faebryk/core/zig/TODO.md
  src/faebryk/exporters/pcb/kicad/transformer.py
Due: ty

HACK: free slice mem
  src/faebryk/core/zig/src/pyzig/pyzig.zig
Due: none

ato: Allow trait instances (#1502)
  src/atopile/front_end.py
  src/atopile/parser/AtoParser.g4
  src/atopile/parser/AtoParser.interp
  src/atopile/parser/AtoParser.py
  src/faebryk/core/zig/src/pyzig/pyzig.zig
Due: ty

remove prettytable
  src/faebryk/core/zig/TODO.md
  src/faebryk/core/zig/build.zig
  src/faebryk/core/zig/build.zig.zon
  src/faebryk/core/zig/test/sexp/performance/performance_sexp_synthetic.zig
Due: none
