Repository atopile/atopile: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-library-init, ty

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: generate-library-init
        name: Generate library init
        entry: tools/library/gen_F.py
        language: python
        files: src/faebryk/library/.*.py
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.12.0
    hooks:
      - id: ruff-check
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.7.13
    hooks:
      - id: uv-lock
  - repo: local
    hooks:
      - id: ty
        name: ty type checker
        entry: uv run ty check src
        language: system
        types: [python]
        pass_filenames: false

nested reference working with strings
  sandbox.py
Due: ty

WIP
  examples/i2c/ato.yaml
  examples/i2c/config.ato
  examples/i2c/config_traits.py
  examples/i2c/i2c.ato
  examples/i2c/parts/Texas_Instruments_TCA9548APWR/TSSOP-24_L7.8-W4.4-P0.65-LS6.4-BL.kicad_mod
  examples/i2c/parts/Texas_Instruments_TCA9548APWR/Texas_Instruments_TCA9548APWR.ato
  examples/pick_parts/parts/Hubei_KENTO_Elec_KT_0603R/Hubei_KENTO_Elec_KT_0603R.ato
  examples/pick_parts/parts/Hubei_KENTO_Elec_KT_0603R/KT-0603R.kicad_sym
  examples/pick_parts/parts/Hubei_KENTO_Elec_KT_0603R/LED0603-RD-YELLOW.STEP
  examples/pick_parts/parts/Hubei_KENTO_Elec_KT_0603R/LED0603-RD.kicad_mod
  examples/pick_parts/parts/UNI_ROYAL_0402WGF1002TCE/0402WGF1002TCE.kicad_sym
  examples/pick_parts/parts/UNI_ROYAL_0402WGF1002TCE/R0402.kicad_mod
  examples/pick_parts/parts/UNI_ROYAL_0402WGF1002TCE/R0402_L1.0-W0.5-H0.4.step
  examples/pick_parts/parts/UNI_ROYAL_0402WGF1002TCE/UNI_ROYAL_0402WGF1002TCE.ato
  src/atopile/buildutil.py
  src/atopile/cli/build.py
Due: ty

trying to switch connect to proper nested reference
  sandbox.py
Due: ty

no leak
  src/faebryk/libs/kicad/fileformats.py
  src/faebryk/libs/picker/api/models.py
  src/faebryk/libs/picker/picker.py
  src/faebryk/libs/util.py
  test/test_end_to_end.py
  tools/profile.py
Due: ty

whats going on with esp32
  examples/esp32_minimal/layouts/esp32_minimal/esp32_minimal.kicad_pcb
Due: none

switched to non fabll composition
  sandbox.py
  src/faebryk/core/node.py
  src/faebryk/core/type.py
Due: ty

working with composition, no fabll
  sandbox.py
  src/faebryk/core/type.py
Due: ty

connection type working
  sandbox.py
  src/faebryk/core/type.py
Due: ty

connection working with nested ref
  src/faebryk/core/type.py
Due: ty

Core: Zig Graph
  src/faebryk/core/zig/src/graph/build.zig
  src/faebryk/core/zig/src/graph/composition.zig
  src/faebryk/core/zig/src/graph/graph.zig
  src/faebryk/core/zig/src/graph/lib.zig
  src/faebryk/core/zig/src/graph/visitor.zig
Due: none

children iter
  src/faebryk/core/zig/src/graph/composition.zig
Due: none

read to generate from faebryk
  sandbox.py
  src/faebryk/core/type.py
Due: ty

feat: Simplify PCB graph polygon structure and clean up codebase
  src/atopile/pcb_transformer.py
  src/atopile/utils/__init__.py
  src/atopile/utils/pcb_graph_viewer.py
  src/faebryk/core/pcb-graph-spec.md
  src/faebryk/core/pcbgraph.py
  test/libs/kicad/test_pcb_graph.py
Due: ty

Composition: Edge iter
  src/faebryk/core/zig/src/graph/composition.zig
Due: none

modular py loader
  src/atopile/cli/cli.py
  src/faebryk/core/cpp/__init__.py
  src/faebryk/core/zig/__init__.py
  src/faebryk/core/zig/build.zig
  src/faebryk/core/zig/gen/sexp/footprint.pyi
  src/faebryk/core/zig/gen/sexp/footprint_v5.pyi
  src/faebryk/core/zig/gen/sexp/fp_lib_table.pyi
  src/faebryk/core/zig/gen/sexp/netlist.pyi
  src/faebryk/core/zig/gen/sexp/pcb.pyi
  src/faebryk/core/zig/gen/sexp/schematic.pyi
  src/faebryk/core/zig/gen/sexp/symbol.pyi
  src/faebryk/core/zig/gen/sexp/symbol_v6.pyi
  src/faebryk/core/zig/src/graph/build.zig
  src/faebryk/core/zig/src/graph/composition.zig
  src/faebryk/core/zig/src/python/graph/py.zig
  src/faebryk/core/zig/src/python/graph/pyi.zig
  src/faebryk/core/zig/src/python/py.zig
  src/faebryk/core/zig/src/python/pyi.zig
  src/faebryk/core/zig/src/python/sexp/py.zig
  src/faebryk/core/zig/src/python/sexp/pyi.zig
  src/faebryk/libs/kicad/fileformats.py
  src/faebryk/libs/util.py
Due: ty

more consistent load
  src/faebryk/core/zig/__init__.py
Due: ty

even more
  src/faebryk/core/zig/__init__.py
Due: ty

graph py stub
  src/faebryk/core/zig/gen/graph/graph.pyi
  src/faebryk/core/zig/gen/sexp/footprint.pyi
  src/faebryk/core/zig/gen/sexp/footprint_v5.pyi
  src/faebryk/core/zig/gen/sexp/fp_lib_table.pyi
  src/faebryk/core/zig/gen/sexp/netlist.pyi
  src/faebryk/core/zig/gen/sexp/pcb.pyi
  src/faebryk/core/zig/gen/sexp/schematic.pyi
  src/faebryk/core/zig/gen/sexp/symbol.pyi
  src/faebryk/core/zig/gen/sexp/symbol_v6.pyi
  src/faebryk/core/zig/src/graph/composition.zig
  src/faebryk/core/zig/src/graph/graph.zig
  src/faebryk/core/zig/src/graph/lib.zig
  src/faebryk/core/zig/src/python/graph/pyi.zig
  src/faebryk/core/zig/src/python/py.zig
  src/faebryk/core/zig/src/python/pyi.zig
  src/faebryk/core/zig/src/pyzig/pyi.zig
  test/core/zig/graph/test_zig_graph.py
Due: ty

i have lost overview
  src/faebryk/core/zig/build.zig
  src/faebryk/core/zig/gen/graph/composition.pyi
  src/faebryk/core/zig/gen/sexp/footprint.pyi
  src/faebryk/core/zig/gen/sexp/footprint_v5.pyi
  src/faebryk/core/zig/gen/sexp/fp_lib_table.pyi
  src/faebryk/core/zig/gen/sexp/netlist.pyi
  src/faebryk/core/zig/gen/sexp/pcb.pyi
  src/faebryk/core/zig/gen/sexp/schematic.pyi
  src/faebryk/core/zig/gen/sexp/symbol.pyi
  src/faebryk/core/zig/gen/sexp/symbol_v6.pyi
  src/faebryk/core/zig/src/graph/composition.zig
  src/faebryk/core/zig/src/graph/graph.zig
  src/faebryk/core/zig/src/graph/interface.zig
  src/faebryk/core/zig/src/graph/node_type.zig
  src/faebryk/core/zig/src/graph/pathfinder/pathfinder.zig
  src/faebryk/core/zig/src/graph/pointer.zig
  src/faebryk/core/zig/src/python/graph/manual/composition.pyi
  src/faebryk/core/zig/src/python/graph/manual/graph.pyi
  src/faebryk/core/zig/src/python/graph/pyi.zig
  src/faebryk/core/zig/src/python/py.zig
  src/faebryk/core/zig/src/python/pyi.zig
  src/faebryk/core/zig/src/python/sexp/py.zig
  src/faebryk/core/zig/src/python/sexp/pyi.zig
  src/faebryk/core/zig/src/pyzig/genstruct.zig
  src/faebryk/core/zig/src/pyzig/getset.zig
  src/faebryk/core/zig/src/pyzig/lib.zig
  src/faebryk/core/zig/src/pyzig/linked_list.zig
  src/faebryk/core/zig/src/pyzig/pybindings.zig
  src/faebryk/core/zig/src/pyzig/pyi.zig
  src/faebryk/core/zig/src/pyzig/pyzig.zig
  src/faebryk/core/zig/src/pyzig/type_registry.zig
  test/core/zig/graph/test_zig_graph.py
Due: ty

only stat watched file if exists
  src/vscode-atopile/src/common/file-resource-watcher.ts
Due: none

progress
  src/faebryk/core/zig/gen/graph/composition.pyi
  src/faebryk/core/zig/gen/graph/graph.pyi
  src/faebryk/core/zig/src/python/graph/manual/graph.pyi
  src/faebryk/core/zig/src/python/graph/py.zig
  src/faebryk/core/zig/src/pyzig/pyzig.zig
  src/faebryk/core/zig/src/pyzig/util.zig
Due: none

type graph generating from fabll il
  src/faebryk/core/node.py
  src/faebryk/core/sandbox.py
  src/faebryk/core/type.py
  src/faebryk/library/Resistor.py
  src/faebryk/library/_F.py
Due: generate-library-init, ty

progress
  src/faebryk/core/zig/src/python/graph/manual/graph.pyi
  src/faebryk/core/zig/src/python/graph/py.zig
  src/faebryk/core/zig/src/pyzig/pyzig.zig
  test/core/zig/graph/test_zig_graph.py
Due: ty

more progress
  src/faebryk/core/zig/gen/graph/graph.pyi
  src/faebryk/core/zig/src/python/graph/py.zig
  src/faebryk/core/zig/src/python/py.zig
  src/faebryk/core/zig/src/pyzig/pybindings.zig
  src/faebryk/core/zig/src/pyzig/pyzig.zig
  src/faebryk/core/zig/src/pyzig/util.zig
Due: none

working on d_fields
  src/faebryk/core/node.py
  src/faebryk/core/type.py
Due: ty

gpt bindings for graph
  src/faebryk/core/zig/src/python/graph/py.zig
  src/faebryk/core/zig/src/pyzig/pybindings.zig
Due: none

better print
  src/faebryk/core/zig/src/pyzig/util.zig
Due: none

we graphin
  test/core/zig/graph/test_zig_graph.py
Due: ty

some cleanup
  src/faebryk/core/zig/gen/graph/graph.pyi
  src/faebryk/core/zig/src/python/graph/manual/graph.pyi
  test/core/zig/graph/test_zig_graph.py
Due: ty

setup faebryk zig base
  src/faebryk/core/zig/build.zig
  src/faebryk/core/zig/gen/faebryk/composition.pyi
  src/faebryk/core/zig/gen/graph/graph.pyi
  src/faebryk/core/zig/src/faebryk/composition.zig
  src/faebryk/core/zig/src/faebryk/interface.zig
  src/faebryk/core/zig/src/faebryk/interface_pathfinder/pathfinder.zig
  src/faebryk/core/zig/src/faebryk/lib.zig
  src/faebryk/core/zig/src/faebryk/module.zig
  src/faebryk/core/zig/src/faebryk/node_type.zig
  src/faebryk/core/zig/src/faebryk/pointer.zig
  src/faebryk/core/zig/src/faebryk/trait.zig
  src/faebryk/core/zig/src/graph/lib.zig
  src/faebryk/core/zig/src/python/faebryk/manual/composition.pyi
  src/faebryk/core/zig/src/python/faebryk/pyi.zig
  src/faebryk/core/zig/src/python/graph/manual/graph.pyi
  src/faebryk/core/zig/src/python/graph/py.zig
  src/faebryk/core/zig/src/python/py.zig
  src/faebryk/core/zig/src/python/pyi.zig
  src/faebryk/core/zig/src/pyzig/pyi.zig
  src/faebryk/core/zig/src/pyzig/pyzig.zig
  test/core/zig/graph/test_zig_graph.py
Due: ty

instantiation from typegraph working, disgusting implementation, needs cleanup
  src/faebryk/core/node.py
  src/faebryk/core/sandbox.py
  src/faebryk/core/type.py
Due: ty

frame
  src/faebryk/core/zig/gen/faebryk/composition.pyi
  src/faebryk/core/zig/src/faebryk/interface.zig
  src/faebryk/core/zig/src/python/faebryk/faebryk_py.zig
  src/faebryk/core/zig/src/python/faebryk/faebryk_pyi.zig
  src/faebryk/core/zig/src/python/faebryk/manual/composition.pyi
  src/faebryk/core/zig/src/python/graph/graph_py.zig
  src/faebryk/core/zig/src/python/graph/graph_pyi.zig
  src/faebryk/core/zig/src/python/py.zig
  src/faebryk/core/zig/src/python/pyi.zig
  src/faebryk/core/zig/src/python/sexp/sexp_py.zig
  src/faebryk/core/zig/src/python/sexp/sexp_pyi.zig
  src/faebryk/core/zig/src/pyzig/pybindings.zig
  src/faebryk/core/zig/src/sexp/lib.zig
Due: none

composition python
  src/faebryk/core/zig/build.zig
  src/faebryk/core/zig/src/faebryk/TODO.md
  src/faebryk/core/zig/src/faebryk/lib.zig
  src/faebryk/core/zig/src/faebryk/parameter.zig
  src/faebryk/core/zig/src/python/faebryk/faebryk_py.zig
  src/faebryk/core/zig/src/python/faebryk/faebryk_pyi.zig
  test/core/zig/graph/test_zig_graph.py
Due: ty

bla
  src/faebryk/core/zig/gen/faebryk/composition.pyi
  src/faebryk/core/zig/src/python/faebryk/faebryk_py.zig
  src/faebryk/core/zig/src/python/faebryk/manual/composition.pyi
  src/faebryk/core/zig/src/python/graph/graph_py.zig
  src/faebryk/core/zig/src/pyzig/pyzig.zig
  test/core/zig/graph/test_zig_graph.py
Due: ty

added objects being returned
  src/faebryk/core/node.py
  src/faebryk/core/sandbox.py
  src/faebryk/core/type.py
  test/core/test_typegraph.py
Due: ty

magic
  src/faebryk/core/zig/src/python/faebryk/faebryk_py.zig
  src/faebryk/core/zig/src/python/graph/graph_py.zig
  src/faebryk/core/zig/src/pyzig/pyzig.zig
Due: none

tests working on typegraph and instance graph
  src/faebryk/core/node.py
  src/faebryk/core/sandbox.py
  src/faebryk/core/type.py
  test/core/test_typegraph.py
Due: ty

cleanup
  src/faebryk/core/zig/src/python/faebryk/faebryk_py.zig
  src/faebryk/core/zig/src/python/graph/graph_py.zig
  src/faebryk/core/zig/src/pyzig/pyzig.zig
Due: none

last min fix child ref wrong type
  src/faebryk/core/sandbox.py
  src/faebryk/core/type.py
Due: ty

wip node_type
  src/faebryk/core/zig/src/faebryk/TODO.md
  src/faebryk/core/zig/src/faebryk/composition.zig
  src/faebryk/core/zig/src/faebryk/lib.zig
  src/faebryk/core/zig/src/faebryk/module.zig
  src/faebryk/core/zig/src/faebryk/node_type.zig
  src/faebryk/core/zig/src/graph/graph.zig
Due: none
