Repository atopile/atopile: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-library-init, ty

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: generate-library-init
        name: Generate library init
        entry: tools/library/gen_F.py
        language: python
        files: src/faebryk/library/.*.py
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.12.0
    hooks:
      - id: ruff-check
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.7.13
    hooks:
      - id: uv-lock
  - repo: local
    hooks:
      - id: ty
        name: ty type checker
        entry: uv run ty check src
        language: system
        types: [python]
        pass_filenames: false

minimal esp building with latest packages and compiler
  examples/esp32_minimal/ato.yaml
  examples/esp32_minimal/layouts/esp32_minimal/esp32_minimal.kicad_pcb
  examples/esp32_minimal/layouts/esp32_minimal/esp32_minimal.kicad_prl
  examples/esp32_minimal/layouts/esp32_minimal/esp32_minimal.kicad_pro
Due: none

remove junk comment
  src/faebryk/exporters/netlist/graph.py
Due: ty

Build: Add sort within list (#1448)
  src/faebryk/libs/part_lifecycle.py
Due: ty

Exporters: Nets: make net names deterministic (#1451)
  src/faebryk/exporters/netlist/graph.py
  test/end_to_end/test_net_name_determinism.py
Due: ty

Attempt to make a power-tree plugin
  examples/esp32_minimal/layouts/esp32_minimal/esp32_minimal.kicad_pcb
  examples/esp32_minimal/layouts/esp32_minimal/fp-lib-table
  examples/esp32_minimal/parts/Samsung_Electro_Mechanics_CL21A226MAQNNNE/C0805.kicad_mod
  examples/esp32_minimal/parts/Samsung_Electro_Mechanics_CL21A226MAQNNNE/C0805_L2.0-W1.3-H1.3.step
  examples/esp32_minimal/parts/Samsung_Electro_Mechanics_CL21A226MAQNNNE/CL21A226MAQNNNE.kicad_sym
  examples/esp32_minimal/parts/Samsung_Electro_Mechanics_CL21A226MAQNNNE/Samsung_Electro_Mechanics_CL21A226MAQNNNE.ato
  examples/esp32_minimal/parts/UNI_ROYAL_0402WGF2001TCE/0402WGF2001TCE.kicad_sym
  examples/esp32_minimal/parts/UNI_ROYAL_0402WGF2001TCE/R0402.kicad_mod
  examples/esp32_minimal/parts/UNI_ROYAL_0402WGF2001TCE/R0402_L1.0-W0.5-H0.4.step
  examples/esp32_minimal/parts/UNI_ROYAL_0402WGF2001TCE/UNI_ROYAL_0402WGF2001TCE.ato
  examples/esp32_minimal/power-tree.txt
  src/atopile/cli/cli.py
  src/atopile/cli/logging_.py
  src/atopile/cli/view.py
  src/atopile/views.py
  src/faebryk/core/graph.py
  src/faebryk/core/moduleinterface.py
  src/faebryk/exporters/documentation/i2c.py
  src/faebryk/exporters/netlist/graph.py
  src/faebryk/libs/app/erc.py
Due: ty

Run ruff
  src/atopile/front_end.py
Due: ty

Core: Fix part imports not working (#1450)
  src/atopile/config.py
  src/atopile/front_end.py
  src/atopile/lsp/lsp_server.py
  src/faebryk/libs/part_lifecycle.py
Due: ty

checkin version
  src/atopile/cli/package.py
Due: ty

version check not working
  src/atopile/cli/package.py
Due: ty

remove version check
  src/atopile/cli/package.py
Due: ty

remove version check call
  src/atopile/cli/package.py
Due: ty

Attempt to make a power-tree plugin
  examples/esp32_minimal/parts/Samsung_Electro_Mechanics_CL21A226MAQNNNE/C0805.kicad_mod
  examples/esp32_minimal/parts/Samsung_Electro_Mechanics_CL21A226MAQNNNE/C0805_L2.0-W1.3-H1.3.step
  examples/esp32_minimal/parts/Samsung_Electro_Mechanics_CL21A226MAQNNNE/CL21A226MAQNNNE.kicad_sym
  examples/esp32_minimal/parts/Samsung_Electro_Mechanics_CL21A226MAQNNNE/Samsung_Electro_Mechanics_CL21A226MAQNNNE.ato
  examples/esp32_minimal/parts/UNI_ROYAL_0402WGF2001TCE/0402WGF2001TCE.kicad_sym
  examples/esp32_minimal/parts/UNI_ROYAL_0402WGF2001TCE/R0402.kicad_mod
  examples/esp32_minimal/parts/UNI_ROYAL_0402WGF2001TCE/R0402_L1.0-W0.5-H0.4.step
  examples/esp32_minimal/parts/UNI_ROYAL_0402WGF2001TCE/UNI_ROYAL_0402WGF2001TCE.ato
  examples/esp32_minimal/power-tree.txt
  src/atopile/cli/cli.py
  src/atopile/cli/logging_.py
  src/atopile/cli/view.py
  src/atopile/views.py
  src/faebryk/core/graph.py
  src/faebryk/core/moduleinterface.py
  src/faebryk/exporters/documentation/i2c.py
  src/faebryk/exporters/netlist/graph.py
  src/faebryk/libs/app/erc.py
Due: ty

Fix cycles
  src/atopile/views.py
Due: ty

support hierarchies
  src/atopile/cli/view.py
  src/atopile/views.py
  src/faebryk/libs/util.py
Due: ty

Fix broken part imports
  src/atopile/config.py
  src/atopile/front_end.py
  src/atopile/lsp/lsp_server.py
  src/faebryk/libs/part_lifecycle.py
Due: ty

bootstrap diagram viewer
  examples/esp32_minimal/ptree.svg
  src/vscode-atopile/package.json
  src/vscode-atopile/src/ui/buttons.ts
  src/vscode-atopile/src/ui/diagramviewer.ts
  src/vscode-atopile/src/ui/svgviewer.ts
  src/vscode-atopile/src/ui/ui.ts
Due: none

Better vscode style
  src/vscode-atopile/package-lock.json
  src/vscode-atopile/package.json
  src/vscode-atopile/src/ui/diagramviewer.ts
Due: none

Add mechanisms to run the power-tree generation in vscode
  src/vscode-atopile/src/common/findbin.ts
  src/vscode-atopile/src/ui/diagramviewer.ts
Due: none

Vibe code submenu navigation
  src/vscode-atopile/src/ui/diagramviewer.ts
Due: none

Cleanup
  examples/esp32_minimal/parts/Samsung_Electro_Mechanics_CL21A226MAQNNNE/C0805.kicad_mod
  examples/esp32_minimal/parts/Samsung_Electro_Mechanics_CL21A226MAQNNNE/C0805_L2.0-W1.3-H1.3.step
  examples/esp32_minimal/parts/Samsung_Electro_Mechanics_CL21A226MAQNNNE/CL21A226MAQNNNE.kicad_sym
  examples/esp32_minimal/parts/Samsung_Electro_Mechanics_CL21A226MAQNNNE/Samsung_Electro_Mechanics_CL21A226MAQNNNE.ato
  examples/esp32_minimal/parts/UNI_ROYAL_0402WGF2001TCE/0402WGF2001TCE.kicad_sym
  examples/esp32_minimal/parts/UNI_ROYAL_0402WGF2001TCE/R0402.kicad_mod
  examples/esp32_minimal/parts/UNI_ROYAL_0402WGF2001TCE/R0402_L1.0-W0.5-H0.4.step
  examples/esp32_minimal/parts/UNI_ROYAL_0402WGF2001TCE/UNI_ROYAL_0402WGF2001TCE.ato
  examples/esp32_minimal/power-tree.txt
  examples/esp32_minimal/ptree.svg
Due: none

KiCad file format: Support custom fonts
  src/faebryk/libs/kicad/fileformats_common.py
  src/faebryk/libs/kicad/fileformats_latest.py
  test/common/resources/fileformats/kicad/v9/pcb/test.kicad_pcb
Due: ty

Add instruction to fix old KiCad version user exception
  src/faebryk/libs/kicad/fileformats_version.py
Due: ty

Library: JTAG: Add missing RTCK interface
  src/faebryk/library/JTAG.py
Due: generate-library-init, ty

Library: JTAG/SWD: Add better ato example
  src/faebryk/library/JTAG.py
  src/faebryk/library/SWD.py
Due: generate-library-init, ty

expose svg (2D) and png (3D) PCB/PCBA renders as build target
  src/atopile/targets.py
  src/faebryk/exporters/pcb/kicad/artifacts.py
Due: ty

increase timeout for led badge and build it with keep-picked-parts
  test/test_examples.py
Due: ty

print latest version of package to be released
  src/atopile/cli/package.py
Due: ty

revert test_examples.py
  test/test_examples.py
Due: ty

lock net names with latest
  examples/esp32_minimal/layouts/esp32_minimal/esp32_minimal.kicad_pcb
Due: none

Exporters: KiCad file format: Add support for custom fonts (#1453)
  src/faebryk/libs/kicad/fileformats_common.py
  src/faebryk/libs/kicad/fileformats_latest.py
  src/faebryk/libs/kicad/fileformats_version.py
  test/common/resources/fileformats/kicad/v9/pcb/test.kicad_pcb
Due: ty

Tests: Add a `require_network` marker
  pyproject.toml
  test/core/solver/test_solver.py
  test/core/test_mif_connect.py
  test/libs/test_lcsc.py
Due: ty

Implement automatic KiCad opening and 3D render image generation for PRs
  src/atopile/config.py
  src/atopile/kicad_integration.py
  src/atopile/pr_integration.py
  src/atopile/render_utils.py
  src/atopile/targets.py
  src/vscode-atopile/package.json
  src/vscode-atopile/src/common/3dmodel.ts
Due: ty

Fix linting issues and formatting
  src/atopile/kicad_integration.py
  src/atopile/pr_integration.py
  src/atopile/render_utils.py
  src/atopile/targets.py
Due: ty

Fix KiCad CLI detection and GLB to PNG rendering
  src/atopile/buildutil.py
  src/atopile/render_utils.py
  src/faebryk/exporters/pcb/kicad/artifacts.py
Due: ty

remove aliases
  src/atopile/targets.py
Due: ty

update readme
  README.md
  assets/tool.jpeg
Due: none
