Repository atopile/atopile: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-library-init, ty

generate-library-init:
  name: Generate library init
  entry: tools/library/gen_F.py
  language: python

ty:
  name: ty type checker
  entry: uv run ty check src
  language: system
  pass_filenames: false

Add some interface functions
  src/faebryk/core/zig/src/faebryk/interface.zig
Due: none

Resolve build issues due to type changes
  src/faebryk/core/zig/src/faebryk/interface.zig
  src/faebryk/core/zig/src/graph/graph.zig
Due: none

get simple tests to build
  src/faebryk/core/zig/src/faebryk/interface.zig
Due: none

node_type edge functional other than visit instances
  src/faebryk/core/zig/src/faebryk/node_type.zig
Due: none

I got the interface visit_connected_edges visitor working?
  src/faebryk/core/zig/src/faebryk/interface.zig
Due: none

added visit instance edges function
  src/faebryk/core/zig/src/faebryk/node_type.zig
  src/faebryk/core/zig/src/python/faebryk/manual/node_type.pyi
Due: none

improve tests and readability
  src/faebryk/core/zig/src/faebryk/interface.zig
Due: none

Add visitor test
  src/faebryk/core/zig/src/faebryk/interface.zig
Due: none

fix pathfinder imports
  src/faebryk/core/zig/src/faebryk/interface_pathfinder/pathfinder.zig
Due: none

fix compile
  src/faebryk/core/zig/src/python/faebryk/faebryk_py.zig
  src/faebryk/core/zig/src/python/graph/graph_py.zig
Due: none

pathfinder wip
  src/faebryk/core/zig/src/faebryk/interface_pathfinder/pathfinder.zig
Due: none

Add Path struct
  src/faebryk/core/zig/src/graph/graph.zig
Due: none

add and implement next edge
  src/faebryk/core/zig/gen/faebryk/next.pyi
  src/faebryk/core/zig/gen/faebryk/node_type.pyi
  src/faebryk/core/zig/src/faebryk/lib.zig
  src/faebryk/core/zig/src/faebryk/next.zig
  src/faebryk/core/zig/src/faebryk/node_type.zig
  src/faebryk/core/zig/src/graph/graph.zig
  src/faebryk/core/zig/src/python/faebryk/faebryk_py.zig
  src/faebryk/core/zig/src/python/faebryk/faebryk_pyi.zig
  src/faebryk/core/zig/src/python/faebryk/manual/next.pyi
  test/core/zig/graph/test_zig_graph.py
Due: ty

Add start of bfs algo: initialize open_path_queue with edges
  src/faebryk/core/zig/src/graph/graph.zig
Due: none

someone is visitng something
  src/faebryk/core/zig/src/graph/graph.zig
Due: none

path and bfs wip
  src/faebryk/core/zig/src/graph/graph.zig
Due: none

change node memory ownership to graph view
  src/faebryk/core/zig/src/faebryk/composition.zig
  src/faebryk/core/zig/src/faebryk/next.zig
  src/faebryk/core/zig/src/faebryk/node_type.zig
  src/faebryk/core/zig/src/faebryk/type.zig
  src/faebryk/core/zig/src/graph/graph.zig
Due: none

we're bfs-ing in zig!!!!
  src/faebryk/core/zig/src/graph/graph.zig
Due: none

checking in last work
  src/faebryk/core/node.py
Due: ty

compiler submodule
  .pre-commit-config.yaml
  src/atopile/build.py
  src/atopile/cli/cli.py
  src/atopile/cli/package.py
  src/atopile/compiler/attributes.py
  src/atopile/compiler/datatypes.py
  src/atopile/compiler/front_end.py
  src/atopile/compiler/parse.py
  src/atopile/compiler/parse_utils.py
  src/atopile/compiler/parser/.gitignore
  src/atopile/compiler/parser/AtoLexer.g4
  src/atopile/compiler/parser/AtoLexer.interp
  src/atopile/compiler/parser/AtoLexer.py
  src/atopile/compiler/parser/AtoLexer.tokens
  src/atopile/compiler/parser/AtoLexerBase.py
  src/atopile/compiler/parser/AtoParser.g4
  src/atopile/compiler/parser/AtoParser.interp
  src/atopile/compiler/parser/AtoParser.py
  src/atopile/compiler/parser/AtoParser.tokens
  src/atopile/compiler/parser/AtoParserBase.py
  src/atopile/compiler/parser/AtoParserVisitor.py
  src/atopile/compiler/parser/README.md
  src/atopile/compiler/parser/__init__.py
  src/atopile/compiler/parser/build.sh
  src/atopile/compiler/parser/tree.sh
  src/atopile/errors.py
  src/atopile/layout.py
  src/atopile/lsp/lsp_server.py
  src/faebryk/library/is_atomic_part.py
  src/faebryk/libs/codegen/atocodegen.py
  src/faebryk/libs/part_lifecycle.py
Due: generate-library-init, ty

tree pretty printer
  src/faebryk/libs/util.py
Due: ty

compiler graph viz
  src/atopile/compiler/interactive_compiler_graph.py
  src/faebryk/exporters/visualize/interactive_params_base.py
Due: ty

simplify grammar
  src/atopile/compiler/compiler_types.py
  src/atopile/compiler/parser/AtoParser.g4
  src/atopile/compiler/parser/AtoParser.interp
  src/atopile/compiler/parser/AtoParser.py
  src/atopile/compiler/parser/AtoParserVisitor.py
Due: ty

node types wip
  src/atopile/compiler/types.py
Due: ty

dynamic IR construction (wip)
  src/atopile/compiler/compiler_graph_demo.py
  src/atopile/compiler/compiler_types.py
  src/atopile/compiler/ir_builder.py
  src/atopile/compiler/ir_types.py
  src/atopile/compiler/ir_viewer.py
Due: ty

demo wip
  src/atopile/compiler/compiler_graph_demo.py
Due: ty

completeness wip
  src/atopile/compiler/ast_graph.py
  src/atopile/compiler/ast_graph_demo.py
  src/atopile/compiler/ast_types.py
  src/atopile/compiler/ast_viewer.py
Due: ty

refactor + terminology
  src/atopile/compiler/ast_graph.py
  src/atopile/compiler/ast_graph_demo.py
  src/atopile/compiler/ast_viewer.py
  src/atopile/compiler/ir_builder.py
  src/atopile/compiler/ir_types.py
Due: ty

remove set/cum assign
  src/atopile/compiler/parser/AtoLexer.g4
  src/atopile/compiler/parser/AtoLexer.interp
  src/atopile/compiler/parser/AtoLexer.py
  src/atopile/compiler/parser/AtoLexer.tokens
  src/atopile/compiler/parser/AtoParser.g4
  src/atopile/compiler/parser/AtoParser.interp
  src/atopile/compiler/parser/AtoParser.py
  src/atopile/compiler/parser/AtoParser.tokens
  src/atopile/compiler/parser/AtoParserVisitor.py
Due: ty

readme
  src/atopile/compiler/README.md
Due: none

first direct child
  src/faebryk/core/node.py
Due: ty

fix refactor
  src/atopile/compiler/ast_graph.py
  src/atopile/compiler/ast_graph_demo.py
  src/atopile/compiler/ast_types.py
Due: ty

all data in graph refactor wip
  src/atopile/compiler/ast_graph.py
  src/atopile/compiler/ast_graph_demo.py
  src/atopile/compiler/ast_types.py
  src/atopile/compiler/graph_mock.py
  src/atopile/compiler/parse_utils.py
  src/atopile/compiler/parser/AtoLexer.g4
  src/atopile/compiler/parser/AtoLexer.interp
  src/atopile/compiler/parser/AtoLexer.py
Due: ty

better tree renderer; remove (broken) visualizer
  src/atopile/compiler/ast_graph_demo.py
  src/atopile/compiler/ast_viewer.py
  src/atopile/compiler/graph_mock.py
Due: ty

update remaining types
  src/atopile/compiler/ast_types.py
  src/atopile/compiler/parser/AtoParser.g4
  src/atopile/compiler/parser/AtoParser.interp
  src/atopile/compiler/parser/AtoParser.py
  src/atopile/compiler/parser/AtoParserVisitor.py
Due: ty

update visitor + type refinements
  src/atopile/compiler/ast_graph.py
  src/atopile/compiler/ast_types.py
  src/atopile/compiler/parser/AtoParser.g4
  src/atopile/compiler/parser/AtoParser.interp
  src/atopile/compiler/parser/AtoParser.py
  src/atopile/compiler/parser/AtoParserVisitor.py
Due: ty

mock graph -> real graph
  src/atopile/compiler/ast_graph.py
  src/atopile/compiler/ast_graph_demo.py
  src/atopile/compiler/ast_types.py
  src/atopile/compiler/graph_mock.py
  src/faebryk/core/zig/gen/faebryk/source.pyi
  src/faebryk/core/zig/src/faebryk/lib.zig
  src/faebryk/core/zig/src/faebryk/source.zig
  src/faebryk/core/zig/src/python/faebryk/faebryk_py.zig
  src/faebryk/core/zig/src/python/faebryk/faebryk_pyi.zig
  src/faebryk/core/zig/src/python/faebryk/manual/source.pyi
Due: ty

Patch graph tests
  src/faebryk/core/zig/src/graph/graph.zig
Due: none

clean-up BFS a bit
  src/faebryk/core/zig/src/graph/graph.zig
  src/faebryk/core/zig/src/graph/visitor.zig
Due: none

Comment up the edge visitor
  src/faebryk/core/zig/src/graph/graph.zig
Due: none

Path conditions:
  generate-library-init: any of: src/faebryk/library/.*.py
  ty: any of: \.py$
