Repository atopile/atopile: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-library-init, ty

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: generate-library-init
        name: Generate library init
        entry: tools/library/gen_F.py
        language: python
        files: src/faebryk/library/.*.py
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.12.0
    hooks:
      - id: ruff-check
        args: [ --fix ]
      - id: ruff-format
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.7.13
    hooks:
      - id: uv-lock
  - repo: local
    hooks:
      - id: ty
        name: ty type checker
        entry: uv run ty check src
        language: system
        types: [python]
        pass_filenames: false

LSP: Dot auto-complete
  src/atopile/lsp/lsp_server.py
  test_completion_trigger.py
  tests/test_lsp_completion.py
Due: ty

improve tests
  src/atopile/lsp/lsp_server.py
  test/test_lsp_completion.py
  tests/test_lsp_completion.py
Due: ty

better perf
  src/atopile/lsp/lsp_server.py
  src/faebryk/libs/util.py
  test/libs/test_util.py
Due: ty

better param icon
  src/atopile/lsp/lsp_server.py
  test/test_lsp_completion.py
Due: ty

refactor checkin
  examples/design_rules/design_rules.ato
Due: none

refactor checking
  debug_rules.py
  src/atopile/buildutil.py
  src/faebryk/exporters/pcb/rules/collect.py
  src/faebryk/exporters/pcb/rules/dru_dataclass.py
  src/faebryk/exporters/pcb/rules/emit.py
  src/faebryk/exporters/pcb/rules/export.py
  src/faebryk/library/DifferentialPair.py
  src/faebryk/library/Stackup.ato
  src/faebryk/library/Stackup.py
  src/faebryk/libs/kicad/fileformats_latest.py
  test_actual_calculation.py
  test_current_calc.py
  test_dielectric_lookup.py
  test_impedance_calc.py
  test_reverse_calc.py
  test_rules_refactor.py
  test_stackup_detection.py
  test_thickness_parsing.py
  test_unit_conversion.py
Due: generate-library-init, ty

added initial support for ato in wsl and kicad in windows
  src/faebryk/libs/app/pcb.py
  src/faebryk/libs/kicad/paths.py
Due: ty

fix tests
  test/test_muster.py
Due: ty

remove spurious bus param resolution warning
  src/atopile/build_steps.py
Due: ty

new & import
  src/atopile/lsp/lsp_server.py
  test/test_lsp_completion.py
Due: ty

thread-safe debounce
  src/faebryk/libs/util.py
Due: ty

remove empty file
  test_completion_trigger.py
Due: ty

`from` completion
  src/atopile/lsp/lsp_server.py
  src/faebryk/libs/util.py
  test/libs/test_util.py
Due: ty

Fix: Downgrade prompt-toolkit
  pyproject.toml
  uv.lock
Due: none

Fix: Downgrade prompt-toolkit (#1473)
  pyproject.toml
  uv.lock
Due: none

VSCE: Remove annoying popups (#1465)
  src/vscode-atopile/package.json
  src/vscode-atopile/src/common/findbin.ts
  src/vscode-atopile/src/common/server.ts
  src/vscode-atopile/src/ui/setup.ts
Due: none

checkin
  examples/design_rules/design_rules.ato
  examples/design_rules/rules.kicad_dru
  src/faebryk/exporters/pcb/rules/export.py
Due: ty

Checkin
  src/faebryk/exporters/pcb/rules/rules.py
Due: ty

LSP: Add auto-complete for dot, new, import (#1471)
  src/atopile/lsp/lsp_server.py
  src/faebryk/libs/util.py
  test/libs/test_util.py
  test/test_lsp_completion.py
Due: ty

fix magic string for default target
  src/atopile/build_steps.py
  src/atopile/buildutil.py
  src/atopile/config.py
Due: ty

check for unrecognized targets
  src/atopile/build_steps.py
Due: ty

restore __default__ alias
  src/atopile/build_steps.py
Due: ty

prepare-build step
  src/atopile/build_steps.py
  src/atopile/buildutil.py
Due: ty

mark artifact-producing steps
  src/atopile/build_steps.py
Due: ty

Buildutil: Model as DAG of individual steps (#1468)
  pyproject.toml
  src/atopile/build_steps.py
  src/atopile/buildutil.py
  src/atopile/config.py
  src/atopile/targets.py
  src/faebryk/libs/util.py
  test/test_muster.py
  uv.lock
Due: ty

write picks.ato
  src/atopile/build_steps.py
  src/atopile/config.py
  src/faebryk/libs/app/picking.py
  src/faebryk/libs/ato_part.py
  src/faebryk/libs/codegen/atocodegen.py
Due: ty

load picks.ato
  src/atopile/build_steps.py
  src/atopile/front_end.py
  src/faebryk/libs/app/picking.py
Due: ty

as peer to layout file
  src/atopile/build_steps.py
  src/atopile/config.py
Due: ty

specify via trait
  src/faebryk/libs/app/picking.py
  src/faebryk/libs/codegen/atocodegen.py
Due: ty

Fix: LSP auto-complete multi-import
  src/atopile/lsp/lsp_server.py
Due: ty

Fix VSX deployment
  .github/workflows/vsx.yml
Due: none

CI: Fix VSX deployment (#1478)
  .github/workflows/vsx.yml
Due: none

LSP: Fix auto-complete multi-import (#1476)
  src/atopile/lsp/lsp_server.py
Due: ty

wip (just some logging)
  src/atopile/lsp/lsp_server.py
  test/test_lsp_completion.py
Due: ty

fix gotodef for `new <typeref>`
  src/atopile/front_end.py
  src/atopile/lsp/lsp_server.py
Due: ty

ghetto goto (new, refs)
  src/atopile/lsp/lsp_server.py
Due: ty

remove ai tests
  test/test_lsp_completion.py
Due: ty

Some ideas
  NOTES.ato
  src/faebryk/core/node.py
Due: ty

Retrieve
  .github/workflows/extract-claude.yml
Due: none
